<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>下载</title>
    <style>
		#shadowTips{
			display: none;
			position: fixed;
			width: 100%;
			height: 100%;
			top:0;
			color:white;
			background-color: rgba(0, 0, 0, 0.8);
		}
		.shadowTips_top{width: 100%;height: 2%;}
		.shadowTips_mid{width: 100%;height: 20%;}
		.shadowTips_mid_left{float: left;width: 50%;height: 100%;padding-left: 5%;text-align: left;}
		.shadowTips_mid_right{float: right;width: 45%;height: 100%;text-align: right;}
		.shadowTips_bottom_tipsone,.shadowTips_bottom_tipstwo{width: 100%;height: 10%;font-size: 20px;padding-left: 0%;}
		.shadowTips_bottom_tipsone img{border-radius:10px;}
    </style>
</head>
<body style="text-align: center;margin:0;">
	<div style="position:absolute;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);top: 50%;left: 50%;width: 10em;">
		<div style="text-align: center;margin-bottom: 2em;"><img src="img/app.png" style="width: 7em;height: 7em;"/></div>
		<a id="toDownloadPage" style="text-decoration: none;">
			<div  style="height: 2.5em;font-size: 1.2em;line-height: 2.5em;background-color: #25b4ff;border-radius:0.5em;color:white;">下载美支付</div>
		</a>
	</div>
	<div id="shadowTips">
	<div class="shadowTips_top"></div>
	<div class="shadowTips_mid">
		<div class="shadowTips_mid_left"><img src="img/chacha.png" width="30px" height="30px"/></div>
		<div class="shadowTips_mid_right"><img src="img/arrow.png" height="100%"/></div>
	</div>
	<div class="shadowTips_bottom_tipsone">1. 点击右上角的 <img src="img/qqshare.jpg"/> 按钮 </div><br>
	<div class="shadowTips_bottom_tipstwo">2. 选择"<span id="phone_browser_word"></span>"即可下载</div>
</div>
	<script src="../common/jquery-2.1.4.min.js"></script>
    <script>
  //判断是否手机端
    function IsMobile() {
    	var userAgentInfo = navigator.userAgent;
    	var Agents = ["Android", "iPhone",
    	              "SymbianOS", "Windows Phone"];
    	var flag = false;
    	for (var v = 0; v < Agents.length; v++) {
    		if (userAgentInfo.indexOf(Agents[v]) > 0) {
    			flag = true;
    			break;
    		}
    	}
    	return flag;
    }

    $(document).ready(function(){
		var explorer = navigator.userAgent;
		if(IsMobile()){
			$("#toDownloadPage").removeAttr("href");//移除href属性
			//如果在QQ或微信打开则显示温馨提示
			if((explorer.indexOf("MicroMessenger") > 0 || explorer.indexOf("QQ/") > 0)){
				var shareImg = '';//iPhone、android手机微信图标不同
				if(navigator.userAgent.indexOf("MicroMessenger") > 0){
					if (/(iPhone)/i.test(navigator.userAgent)) {
						shareImg = "./img/weixinshare.jpg";
					}else if(/(Android)/i.test(navigator.userAgent)){
						shareImg = "./img/andr_weixin_share.jpg";
					}
				}else if(navigator.userAgent.indexOf("QQ/") > 0){
					shareImg = "./img/qqshare.jpg";
				}
				if (/(iPhone)/i.test(navigator.userAgent)) {
					$("#phone_browser_word").text("在Safari中打开");
				}else if(/(Android)/i.test(navigator.userAgent)){
					$("#phone_browser_word").text("在浏览器中打开");
				}
				$(".shadowTips_bottom_tipsone img").attr("src",shareImg);

				$("#toDownloadPage").click(function () {
					$("#shadowTips").fadeIn(300);
				});
				$(".shadowTips_mid_left img").click(function() {
					$("#shadowTips").fadeOut(300);
				});
			}
			// else if(/(iPhone)/i.test(explorer)){
			// 	//给按钮设置点击链接  ios下载
			// 	$("#toDownloadPage").click(function () {
			// 		location.href = "https://itunes.apple.com/cn/app/ben-de-sheng-huo-quan/id1023314197?mt=8";
			// 	});
			// }
			else if(/(Android)/i.test(explorer)){
				//给按钮设置点击链接  安卓下载
				$("#toDownloadPage").click(function () {
					location.href = "http://tiyoumeapp.oss-cn-shenzhen.aliyuncs.com/app-release.apk";
				});
			}
		}else{
			$("#toDownloadPage").click(function () {
				location.href = "http://tiyoumeapp.oss-cn-shenzhen.aliyuncs.com/app-release.apk";
			});
		}
    });
    </script>
</body>
</html>