<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>购物币商城用户使用协议</title>
    <style type="text/css">
    p{
        text-indent: 2em;
    }
    </style>
</head>
<body>
    <h2 style="text-align: center;">购物币商城用户使用协议</h2>
    <p>
        购物币商城为天缘美App平台上的板块，所有权归属于天缘美平台所有，本商城上商品的交易方式是以虚拟分值（购物币）方式兑换，非市场流通货币交易；本商城提供商品均为市场上的供应商品，最终与交易的用户实现兑换服务，意义上并非买卖关系。
    </p>
    <p>
        本协议双方为购物币商城板块与商城上发生交易用户，本协议具有合同效力。您确认本协议后，本协议即在您和本商城之间产生法律效力。请您务必在注册之前认真阅读天缘美平台及本商城全部服务协议内容，如有任何疑问，可向本商城客服咨询。 无论您事实上是否在注册之前认真阅读了本协议，只要您点击协议下方的"同意以下协议，提交"按钮并按照本商城注册程序成功注册为用户，您的行为视为您同意并签署了本协议，本协议即构成对双方有约束力的法律文件。
    </p>
    <p>第1条 商品信息</p>
    <p>
        商城内的商品价格、数量、是否有货等商品信息随时都有可能发生变动，本商城不作特别通知。由于网站上商品信息的数量庞大，虽然本商城会尽最大努力保证您所浏览商品信息的准确性，但由于众所周知的互联网技术因素限制等客观原因存在，本商城网页显示的信息可能会有一定的滞后性或差错，对此情形望您知悉并理解。
    </p>
    <p>第2条 订单</p>
    <p>
        2.1在您下订单时，请仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、 联系地址、电话、收货人等信息。收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。
    </p>
    <p>
        2.2除法律另有强制性规定外，双方约定如下：本商城上展示的商品和价格等信息仅仅是邀约邀请，您下单时须填写您希望购买的商品数量、价格、收货人、联系方式、收货地址（合同履行地点）、合同履行方式等内容；系统生成的订单信息是计算机信息系统根据您填写的内容自动生成的数据，仅是您向我方发出的合同要约； 我方收到您的订单信息后，只有在我方将您在订单中订购的商品从仓库实际直接向您发出时（以商品出库为标志），才视为您与我方之间就实际直接向您发出的商品建立了合同关系；如果您在一份订单里订购了多种商品并且我方只给您发出了部分商品时，您与我方之间仅就实际直接向您发出的商品建立了合同关系；只有在我方实际直接向您发出了订单中订购的其他商品时，您和我方之间就订单中其他已实际直接向您发出的商品才成立合同关系。您可以随时登录您在天缘美平台注册的账户，查询您的订单状态。
    </p>
    <p>
        2.3由于市场变化及各种以合理商业努力难以控制的因素影响，本商城无法保证您提交的订单信息中希望购买的商品都会有货；如您拟购买的商品发生缺货，您有权取消订单。
    </p>
    <p>第3条 配送</p>
    <p>
        3.1本商城将会把商品（货物）送到您所指定的收货地址，所有在本商城上列出的送货时间为参考时间，参考时间的计算是根据库存状况、正常的处理过程和送货时间、送货地点等因素来估计得出的。
    </p>
    <p>
        3.2本商城所有订单由本商城安排发货，但商品不仅限于一个地区发货，不同地区产生的快递费用以平台结算快递费为准； 3.3本商城订单存在相应快递费用，请用户认真阅读商城内快递支付方式，以商城内公布方式为准。
    </p>
    <p>第4条 其他</p>
    <p>
        4.1天缘美购物币商城尊重用户和消费者的合法权利，本协议及本商城上发布的各类规则、声明等其他内容， 均是为了更好更便利的为用户和消费者提供服务。本商城欢迎用户和社会各界提出意见和建议，购物币商城将虚心接受并适时修改本协议及本商城上的各类规则。用户继续使用本商城服务即视为对修改协议及规则的接受。
    </p>
    <p>
        4.2您点击本协议上方的“同意以下协议，提交”按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。
    </p>
    <p>天缘美</p>
</body>
</html>