<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>天缘美“一元云购”活动协议</title>
    <style type="text/css">
    p{
        text-indent: 2em;
    }
    </style>
</head>
<body>
    <h2 style="text-align: center;">天缘美“一元云购”活动协议</h2>
    <p>欢迎您参与充满互动乐趣的免费活动--天缘美一元云购（以下简称“一元云购”）。</p>
    <p>作为为用户提供全新、有趣的通讯、娱乐、购物模式的互联网平台，天缘美为您提供各项相关服务。</p>
    <p>
        当您购买天缘美邮箱存储空间时，系统随机自动赠送一元云购抽奖号码让您参与一元云购活动。一元云购活动可能适时提供多种方式参与，无论您选择何种方式参与，您都必须同意并遵守天缘美以及本服务协议的约定。一元云购活动会不断推出新的服务，因此所有服务都将受此服务条款的约束。请您在参与一元云购前务必认真阅读此服务协议的内容并确认，如有任何疑问，应向天缘美公司咨询。一旦您确认本服务协议后，本服务协议即在用户和天缘美之间产生法律效力。您点击“同意以下条款”按钮即表示您完全接受本协议中的全部条款。
    </p>
    <p>
        天缘美将可能不定期的修改本服务协议的有关条款，并保留在必要时对此协议中的所有条款进行随时修改的权利。一旦协议内容有所修改，如果您继续使用天缘美一元云购的服务，则视为您接受协议的改动内容。如果不同意天缘美对协议内容所做的修改，天缘美会及时取消您的服务使用权限。天缘美保留随时修改或中断服务而不需告知用户的权利。天缘美行使修改或中断服务的权利，不需对用户或第三方负责。
    </p>
    <p>一、用户登陆</p>
    <p>
        1、用户登陆天缘美并确认同意本服务协议，即可选取其中的可选方式参与一元云购。也可购买天缘美邮箱存储空间后，系统自动、随机赠送一元云购号码到用户账户参与一元云购。
    </p>
    <p>
        2、天缘美用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不得注册为天缘美用户或超过其民事权利或行为能力范围与天缘美进行交易，如与天缘美进行交易的，则服务协议自始无效，天缘美有权立即停止与该用户的交易、注销该用户账户。
    </p>
    <p>二、一元云购活动原则</p>
    <p>平等原则：用户和天缘美在交易过程中具有同等的法律地位。</p>
    <p>自愿原则：用户享有自愿向天缘美参与活动、享受服务、购买商品的权利，任何人不得非法干预。</p>
    <p>公平原则：用户和天缘美行使权利、履行义务应当遵循公平原则。</p>
    <p>诚实信用原则：用户和天缘美行使权利、履行义务应当遵循诚实信用原则。</p>
    <p>
        完全履行原则：用户在天缘美参加一元云购活动时，用户和天缘美皆有义务根据本服务协议的约定完成该活动（法律或本协议禁止的交易除外）。
    </p>
    <p>三、用户的权利和义务</p>
    <p>
        1、用户有权拥有其在天缘美的用户名及密码，并用该用户名和密码登录天缘美参与一元云购活动。用户不得以任何形式转让或授权他人使用自己的天缘美用户名。
    </p>
    <p>2、用户保证不以他人资料在天缘美进行注册和参与一元云购。</p>
    <p>3、用户应当保证在天缘美参与一元云购活动时遵守诚实信用原则，不扰乱网上交易的正常秩序。</p>
    <p>4、用户在成为天缘美的会员后，可按天缘美的规则享有权利。</p>
    <p>四、天缘美的权利和义务</p>
    <p>1、天缘美有义务在现有技术上维护整个天缘美平台的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行；</p>
    <p>2、对用户使用天缘美服务中所遇到的与交易或注册有关的问题及反映的情况，天缘美应及时作出回复；</p>
    <p>3、对于用户在参与一元云购中作出下列行为的，天缘美有权作出删除相关信息、终止提供服务等处理，而无须征得用户的同意：</p>
    <p>
        1) 天缘美有权对用户的注册信息及一元云购行为进行查阅，发现注册信息或一元云购行为中存在任何问题的，有权向用户发出询问及要求改正的通知或者作出删除等处理；
    </p>
    <p>
        2) 用户违反本协议规定或有违反法律法规和地方规章的行为的，天缘美有权停止传输并删除其信息，注销用户账户并按照相关法律规定向相关主管部门进行披露。
    </p>
    <p>
        3) 对于用户在天缘美进行的下列行为，天缘美有权对用户采取删除其信息、注销用户账户等限制性措施：包括发布或以电子邮件或以其他方式传送存在恶意、虚假和侵犯他人人身财产权利内容的信息，进行与天缘美无关或不是以天缘美、一元云购为目的的活动，以恶意注册等方式试图扰乱正常活动、购物秩序，将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送，干扰或破坏天缘美服务或与天缘美服务相连的服务器和网络，或发布其他违反公共利益或可能严重损害天缘美和其它用户合法利益的信息。
    </p>
    <p>4、对于天缘美一元云购平台已上架的产品，天缘美有权根据市场变动修改产品参数，而无需提前通知客户。</p>
    <p>
        5、天缘美分享购物模式，秉着双方自愿原则，分享购物存在风险，天缘美不对抽取的“幸运编号”结果承担责任，望所有用户谨慎参与。
    </p>
    <p>
        6、用户购买天缘美邮箱空间，自动参与一元云购后，无法退款；或以其它方式参与一元云购后，无法退还任何参与的资质及凭证，请注意风险。
    </p>
    <p>
        7、用户充值到天缘美账户（天缘美电子钱包）的资金，转账需要收取手续费。天缘美赠送的积分或虚拟类货币，仅限于天缘美指定版块或范围使用，不可以提现，不可以转账。
    </p>
    <p>五、配送及费用</p>
    <p>一元云购活动，天缘美将会把产品邮寄到您所指定的送货地址。全国免费配送（港澳台地区除外）。</p>
    <p>请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成配送延迟或无法配送等，天缘美将不承担责任：</p>
    <p>1）、客户提供错误信息和不详细的地址；</p>
    <p>2）、货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果。</p>
    <p>3）、不可抗力，例如：自然灾害、交通戒严、突发战争等。</p>
    <p>六、商品缺货规则</p>
    <p>
        受市场产品流通影响，如果用户通过参与一元云购所获得的产品缺货，天缘美另行赠送其他等价产品的一元云购抽奖号码作为补偿。补偿赠送的一元云购抽奖号码数量与该用户原参与的数量相同。未中奖客户不再赠送抽奖号码，不做任何补偿。
    </p>
    <p>七、责任限制</p>
    <p>
        在法律法规所允许的限度内，因使用天缘美服务而引起的任何损害或经济损失，天缘美承担的全部责任均不超过用户参与当次活动时投入的金额。这些责任限制条款将在法律所允许的最大限度内适用，并在用户资格被撤销或终止后仍继续有效。
    </p>
    <p>八、网络服务内容的所有权</p>
    <p>
        网络服务内容包括：文字、软件、声音、图片、录象、图表、广告中的全部内容；电子邮件的全部内容；本站为用户提供的其他信息。所有这些内容受版权、商标权、专利权等相关知识产权法律的保护。所以，用户只能在天缘美授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。
    </p>
    <p>九、用户隐私制度</p>
    <p>天缘美不会向任何第三方提供，出售，出租，分享和交易用户的个人信息。当在以下情况下，用户的个人信息将部分或全部被善意披露：</p>
    <p>1、经用户同意，向第三方披露；</p>
    <p>2、根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
    <p>3、若用户出现违反中国有关法律或者政策的情况，需要向第三方披露；</p>
    <p>4、为提供你所要求的产品和服务，而必须和第三方分享用户的个人信息；</p>
    <p>5、天缘美根据法律或者服务方针认为合理的披露。</p>
    <p>十、法律管辖和适用</p>
    <p>1、本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>
    <p>
        2、如发生本站服务条款与中国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。
    </p>
    <p>3、本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</p>
    <p>
        4、如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向协议履行地人民法院提起诉讼。
    </p>
    <p>天缘美</p>
</body>
</html>