body{text-align: center;margin: 0;font-family: "Microsoft YaHei"}
a{text-decoration: none;color: black;}
.title-bar{
    background-color: rgba(0, 23, 38, 0.95);
    /*background-color: #001726;*/
    height: 2.75em;
    text-align: center;
    color: white;
    line-height: 2.75em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.arrow-box{
    float: left;
    width: 2em;
    left: 0;
    position: absolute;
    background-image: url(back.png);
    background-size: 0.7em 1.3em;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.title{
    font-size: 1.1em;
}
