html{font-size: 625%;}
body{font-size: 0.14rem;background: #E6E5EC;margin:0;padding:0;}
html,body{width:100%;height:100%;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}  /*取消手机点击屏幕时，会出现的灰块*/
input,button,textarea{padding:0;border:0;outline:0;-webkit-appearance: @none;}
ul,li{list-style: none;}
div,ul,li,p,h3{margin:0;padding:0;}
button{border:0;outline:0;}
.flex-between{display: -webkit-box;display: flex;-webkit-box-pack: justify;justify-content: space-between;}
.flex-center{display: -webkit-box;display: flex;-webkit-box-pack: center;justify-content: center;}
.flex-mid{display: -webkit-box; display: flex; -webkit-box-align: center; align-items: center;}
.banner{width:100%;}
.banner img{display:block;width:100%;}
.content{padding:0 0.12rem;}
.content li{height:0.64rem;margin-top:0.12rem;padding-right:0.05rem;border-radius: 0.06rem;background: #fff;overflow:hidden;}
.left{float:left;}
.right{float:right;}
.content ul li>div{height:100%;}
.content .left{height:0.64rem;}
.content .num{width:0.4rem;line-height:0.64rem;text-align:center;font-size: 0.18rem;color: #FFFFFF;}
.content .detail{margin-left:0.08rem;}
.content li:nth-child(5n+1) .num{background: #0EA9E2; }
.content li:nth-child(5n+2) .num{background: #F57335; }
.content li:nth-child(5n+3) .num{background: #8F4EE4; }
.content li:nth-child(5n+4) .num{background: #23B57D; }
.content li:nth-child(5n+5) .num{background: #FC5E49; }
.content .name{font-size: 0.14rem;color: #2B2B2D;margin-top:0.12rem;margin-bottom:0.05rem;}
.content .cuttentvote{color:#666;font-size:0.12rem;}
.content .votenum{color: #FF4848;margin-left:0.15rem;}
.vote{width:0.6rem;height:0.28rem;line-height:0.28rem;background: #FF4848;text-align:center;border-radius: 0.3rem;color:#fff;font-size:0.16rem;}
.vote.inactive{background: #BDBDBD;}
.tip{text-align:center;padding:0.15rem 0;color:#666;}
