
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>美支付购物币商城商品供应协议</title>
    <style type="text/css">
    p{
        text-indent: 2em;
    }
    </style>
</head>
<body>
    <h2 style="text-align: center;">美支付购物币商城商品供应协议</h2>
    <p>欢迎您使用美支付软件及服务！</p>
    <p>
        为使用美支付软件（以下简称“本软件”）及服务，您应当阅读并遵守《美支付购物币商城商品供应协议》（以下简称“本协议”），以及《美支付软件许可及服务协议》 《美支付电子商务服务协议》等美支付公司网站或者美支付APP现在及将来公式的单项协议或者规则。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。
    </p>
    <p>
        除非您已阅读并接受本协议所有条款，否则您无权使用本服务。您对本服务的登录、查看、发布和利用信息等行为即视为您已阅读并同意上述协议的约束。
    </p>
    <p>第一条商品及订单</p>
    <p>
        1.美支付用户通过美支付平台订单向您采购具体商品，订单中包含商品名称、规格、数量、价格、交货时间及地点等信息。除非另有书面约定，您的商品价格不得超出其正常市场价格范围且已包含适用的税项及运费等其他费用。
    </p>
    <p>
        2.您给美支付用户的商品质量应符合国家标准、行业标准、以及双方约定的质量标准。您如提供样品的，商品质量应同时与经美支付确认的样品相同。
    </p>
    <p>
        3.美支付用户可在您发货前取消或修改订单而无需承担任何责任。未经美支付用户同意，您不得替换订单商品或合并订单。本协议并不使美支付负有义务向您订购任何商品。美支付向您提供的任何销售预测信息不构成美支付的承诺。
    </p>
    <p>第二条交付</p>
    <p>1.您根据双方约定的方式向美支付用户交付商品。商品所有权和毁损灭失的风险自美支付用户接受验收商品时转移。</p>
    <p>
        2.美支付用户对商品的接收并不构成其对商品的接受，不影响美支付在收取商品或将商品出售后，对发现的商品质量问题依本协议规定予以退货或要求您采取其他处理措施的权利。
    </p>
    <p>第三条货款结算及支付方式</p>
    <p>1．美支付用户收货确认后平台即时结算，未确认的，默认结算时间为7到14天。</p>
    <p>2．您须于支付日期前15天内按照对账金额将全额的增值税专用发票连同对账单复印件和订单及收货单复印件一并提交美支付。</p>
    <p>
        3．美支付须严格按照财务及约定流程支付相应货款，您须准时提交约定的支付凭证，如因您延迟提交支付凭证，导致美支付延迟支付的，美支付不承担延迟支付的责任。
    </p>
    <p>第四条商品退货及召回</p>
    <p>
        美支付或美支付用户有权对一下商品随时退货：A、任何违反中国产品质量、技术、卫生、环保、安全及其他法律、法规规定的商品；B、任何侵犯他人知识产权或者其他民事权利的商品或任何引起有关侵权争议的商品；C、任何不符合本协议或者订单规定质量标准或任何受损或有瑕疵的商品；D、任何被召回的商品。上述情形下的退货风险及费用由您承担。在商品召回的情况下，您应在召回决定作出或获悉召回决定后12小时内书面通知美支付商品召回信息；对政府监管部门要求召回的情况下，美支付可以自行召回。美支付因商品召回所发生的费用和损失，由您承担。美支付对上述商品货款的支付并不限制美支付获得补救和赔偿的权利。
    </p>
    <p>第五条商品信息</p>
    <p>
        1.为推广和销售商品，您应免费向美支付提供与商品有关的信息，包括商品的电子图像、完整的商品说明、市场宣传资料等，授权美支付可从您或商品生产厂家的网站上收集商品信息，并及时向美支付提供上述商品信息的所有更新和修改。
    </p>
    <p>
        2.为推广和销售商品，您在此赋予美支付非独家的、在全世界范围内的、永久性的、不可撤销且免费的下述许可：将商品信息转换为数字电子格式，摘录、改编、重新排版或者以其他方式创建商品信息的派生作品；在互联网或者类似商业渠道上使用、复制、展示或链接商品信息；使用商品信息中包含的商标、商号及标识；再许可上述任何权利。
    </p>
    <p>第六条您陈述和保证</p>
    <p>
        1．您具有签订和履行本协议所需的所有合法资格、资质和能力，包括应持有中国法律法规所要求的一切证明、批准、许可和其他任何证明文件，而且应为商品的生产商/出版商或授权经销商。您应根据美支付的要求向美支付提供合法的权属证明或其他证明文件。
    </p>
    <p>
        2．您提供给美支付用户的商品包括商品标识、商品信息及商品资质文件，符合中国所有适用的法律、法规的规定和国家质量标准。商品均为正品行货，不存在瑕疵，不存在危及人身安全、财产安全的不合理的危险，具备商品信息所述的使用性能以及法律法规规定的标准和服务，并符合本协议及订单规定的要求；商品使用材料及其他备件为全新（非翻修或返修商品）；商品不含有使用法律、法规规定的违禁或非法添加成分；商品不属于中国交通运输法规所规范的危险物品。您对其提供给美支付用户的商品享有唯一的合法的所有权，并且商品在本协议项下的交付、再销售以及美支付对商品信息的使用未侵犯任何第三方的权利，包括但不限于第三方的知识产权。
    </p>
    <p>第七条保密信息</p>
    <p>
        您就本协议内容，以及您自美支付获取的保密或专有的信息，或者基于该等信息的性质或披露的方式被合理认定为保密或专有的信息（包括但不限于，与美支付的技术、客户、商业计划、营销活动和财务有关的信息）予以保密。保密信息为美支付的专有财产，您应仅将保密信息用于履行其在协议下的义务，并于本协议终止后立即归还该等保密信息，并继续承担保密责任。除此之外，您无权使用或向第三方披露或提供保密信息。未经美支付事先书面同意，您不得使用美支付的任何商标、服务标识、品牌或其他知识产权，不得发布有关美支付或者本协议的任何新闻稿或其他公开文件，或者在任何宣传资料中提及美支付。
    </p>
    <p>第八条赔偿</p>
    <p>
        1.您保证使美支付免于遭受因您的下列行为直接或者间接引起的任何责任与义务，负责处理因此而产生的针对美支付的任何索赔，并全额赔偿美支付因此遭受的任何损失：A、您不具有签订和履行本协议所需的全部合法资格、资质和能力；B、您商品或商品信息或您提供的其他信息不准确、不合法或侵犯任何第三方的合法权益；C、因您商品存在缺陷或正常使用您商品引起的任何人身伤亡和财产损失；D、您商品被召回；E、您未提供准确的商品介绍、适当的使用说明和警示标志、合格的质量保证和售后服务；F、您其他违反本协议规定的行为。美支付有权从应付您的货款中扣除上述赔偿金额，货款不足支付赔偿金额的部分，美支付有权继续追偿。
    </p>
    <p>2.责任限制：任何情况下，美支付对于您给客户造成的侵害损失不承担任何责任，由您自行与客户解决。</p>
    <p>第九条协议的解除和终止</p>
    <p>
        任何一方可在另一方严重违反本协议且收到守约方的书面通知十五个工作日内未予以纠正时，书面通知另一方解除协议。双方任何一方丧失经营主体资格时，本协议自动终止。
    </p>
    <p>第十条条款的修改和继续使用</p>
    <p>
        本协议可能因业务合作需要而进行相应修改，您继续接受订单或使用本服务，将构成对修改条款的接受，美支付保留随时修改您平台条款的权利。
    </p>
    <p>第十一条其他</p>
    <p>
        1.本协议受中华人民共和国法律管辖。双方就本协议发生任何争议，应尽力通过友好协商解决，协商不成，双方可向美支付所在地人民法院提起诉讼。
    </p>
    <p>2.未经另一方书面允许，任何一方不得将本协议下的权利、义务全部或部分转让给第三方。</p>
    <p>
        3.美支付有权从其应付您的款项中扣除您应付美支付的任何款项，包括但不限于因退货、折扣、返利、促销费用、价保补偿、税款补偿、违约金、赔偿金以及其他项目产生的款项。
    </p>
    <p>
        4.美支付在本协议项下发出并经您接受的订单以及本协议项下签订的补充文件，均为本协议的组成部分，构成双方有关您利用美支付平台展销商品的完整协议。
    </p>
    <p>美支付</p>
</body>
</html>