<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>美支付合作商家协议</title>
    <style type="text/css">
    p{
        text-indent: 2em;
    }
    </style>
</head>
<body>
    <h2 style="text-align: center;">美支付合作商家协议</h2>
    <p>欢迎你使用美支付软件及服务！</p>
    <p>
        为使用美支付软件（以下简称“本软件”）及服务，你应当阅读并遵守《美支付合作商家协议》（以下简称“本协议”），以及《美支付软件许可及服务协议》 《美支付电子商务服务协议》等美支付公司网站或者美支付APP现在及将来公式的单项协议或者规则。请你务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。
    </p>
    <p>
        除非你已阅读并接受本协议所有条款，否则你无权使用本服务。你对本服务的登录、查看、发布和利用信息等行为即视为你已阅读并同意上述协议的约束。
    </p>
    <p>第一条 合作内容及合作期限</p>
    <p>1.1 美支付提供美支付商家账户给您经营、使用，您无需向美支付支付经营费用（不含您自行设定的，与美支付的结算折扣）；</p>
    <p>1.2 您同意美支付用户使用美支付系统（即美支付APP钱包） 进行结算支付，您使用美支付后台进行收益管理；</p>
    <p>第二条 美支付结算</p>
    <p>
        2.1 结算：您自愿将客户消费款项与美支付以“结算折扣”结算（签订本协议首次申请设定，后期您可在自身商家后台申请修改本结算折扣，最终结算折扣以您申请修改为准），即美支付用户在您经营平台或线下实体商店使用美支付系统（包括美支付提供的POS机）结算后，美支付即时对用户消费金额进行折算后将您应得款项支付至您的美支付账户，您可在后台查询此款项并提现至您自行绑定的银行账户内。
    </p>
    <p>
        2.2支付流程：美支付用户在您的经营平台或线下实体商店购物、消费使用美支付结算时，由用户在美支付提供给您的POS机刷卡，或用户跟您之间用移动终端设备（手机或平板）经美支付扫码支付。
    </p>
    <p>第三条 美支付的权利与义务</p>
    <p>3.1 美支付有权对平台运营制定相关规则及政策，您须遵守并执行以维持平台运行；</p>
    <p>3.2 您须提供经营平台所需资质证明（申请页面上传及填写的资料、信息）；</p>
    <p>
        3.3 美支付为您和消费者提供平台服务，消费者购买您的商品或服务产生的任何法律责任及赔偿责任均与美支付无关，美支付保留追究您违反平台管理规定责任的权利。
    </p>
    <p>第四条 您的权利与义务</p>
    <p>
        4.1您同意遵守已发布或以后发布的关于平台经营的各类文件；协议期限内，您所经营管理的产品需符合法律、法规规定，且遵守平台管理规定；
    </p>
    <p>
        4.2 您在经营平台上传的产品需符合其营业执照经营范围及法律、法规规定，且符合美支付制定的《关于美支付平台上传商品的规定》的有关规定；
    </p>
    <p>4.3 美支付用户可在您经营平台或线下实体商店使用美支付系统购买所有的服务或商品，您不得给予任何限制或歧视性待遇。</p>
    <p>第五条 协议解除及违约责任</p>
    <p>5.1 如您发生下列情况，美支付有权随时解除协议，并有权追究您的违约责任：</p>
    <p>1）您擅自转让经营平台或您丧失经营主体资格等，致双方无法继续开展合作的；</p>
    <p>
        2）您严重泄密或损害美支付或美支付利益的，您向美支付用户交付的产品或服务存在严重质量瑕疵或您给予美支付用户歧视性待遇而遭用户投诉超过三次且拒不改正的。
    </p>
    <p>
        5.2 您销售的产品不得违反国家相关法律、法规，因您向美支付用户销售的产品或服务存在任何质量问题或瑕疵而产生的所有法律责任和赔偿责任均由您独立承担。您如需承担赔偿责任的，美支付有权按照《中华人民共和国消费者权益保护法》、《中华人民共和国产品质量法》及《中华人民共和国食品安全法》等有关规定，向您收取赔偿后支付给用户。
    </p>
    <p>第六条 保密条款</p>
    <p>
        双方有责任对通过该服务获得的所有产品及平台资料予以保密；双方对本次合作及本协议的具体内容负有保密责任；未经一方书面同意，另一方不得将双方的合作及本协议的具体内容披露给任何第三方；保密条款不因本协议的无效、解除、提前终止或不具操作性而失效。
    </p>
    <p>美支付</p>
</body>
</html>