<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>美支付用户服务协议</title>
    <style type="text/css">
    .space{
        text-indent: 2em;
    }
    </style>
</head>
<body>
    <h2 style="text-align: center;">美支付用户服务协议</h2>
    <p>重要提示:</p>
    <p class="space">
        美支付公司（为了便于理解，以下简称“本公司”）依据本协议为用户（以下简称“您”）提供美支付平台的支付服务（以下称“本服务”）。本协议对您和本公司均具有法律约束力。
    </p>
    <p class="space">
        在使用本服务前，您应当阅读并遵守本协议、《美支付软件许可及服务协议》、《美支付电子商务服务协议》、《购物币商城用户使用协议》等本公司网站（http://www.tiyoume.com/）或美支付APP平台现在及将来公示的单项协议或规则、操作时的提示（包括通过客户端软件）（以下统称“附属协议”）及业务规则。本公司在此特别提醒您认真阅读并充分理解本协议和附属协议各条款，特别是免除或限制本公司的责任、限制您的权利、规定争议解决方式的相关条款。请您审慎阅读并选择是否接受本协议和附属协议（未成年人应在监护人陪同下阅读）。除非您接受本协议和附属协议的所有条款，否则您无权使用本服务。您一经开通或使用本服务，即视为您已理解并接受本协议和附属协议。
    </p>
    <p class="space">一、【本服务】</p>
    <p class="space">
        1.1 支付服务，指本公司依托美支付钱包、其他第三方支付（包括但不限于支付宝、微信支付、银联快捷支付、POS机刷卡支付）等支付方式为收付款人之间提供的货币资金转移服务。
    </p>
    <p class="space">1.2 支付服务包括余额支付和其他支付多种类型。</p>
    <p class="space">
        1.2.1 余额支付，即您使用本公司给您配置的支付账户中的余额进行支付的一种支付方式。您确认并同意本公司在您注册美支付帐号的同时为您配置支付账户，并将您的美支付帐号与该支付账户相关联，使得您可以通过美支付的“钱包”功能使用该支付账户（以下所称的“钱包”即指该支付账户）。您有权使用“钱包”中的余额进行消费和转账，若余额不足，您需 “钱包”充值，您也可以通过接收他人的转账来增加“钱包”的余额。
    </p>
    <p class="space">
        1.2.2 其他支付，即您委托本公司对您的关联其他第三方支付账户进行资金扣划和归集操作的一种支付方式。具体规则参照其他第三方支付方式的相关协议。
    </p>
    <p class="space">
        1.3 您理解并同意，本服务的上述流程，可能因适用场景和功能存续情况的变化而发生调整，所以具体以本公司实际提供的服务流程为准。
    </p>
    <p class="space">1.4 您同意并授权本公司在提供本服务前或提供本服务期间向有权机关或组织查询或核实您的相应信息，如身份信息、账户信息等。</p>
    <p class="space">
        1.5 您理解并同意，本公司有权根据业务运营的调整，单方修改或变更本协议的内容，并将通过本公司网站或美支付客户端公布最新的服务协议，本公司将不另作个別通知。若您于本协议或附属协议发生任何修改或变更后继续使用本服务，则视为您已阅读、了解并同意接受上述修改或变更，若您不同意上述修改或变更，应立即停用本服务。
    </p>
    <p class="space">二、【账户和信息安全】</p>
    <p class="space">
        2.1 您应自行设置美支付账号的登录密码和支付密码，并予以妥善保管。您的美支付帐号将与本公司给您配置的支付账户关联，不能单独使用，若您的美支付账号注销，则与其关联的支付账户也随之注销，使得您无法通过该支付帐户使用本服务。您需根据本服务的功能需求提交您的姓名、身份证号、手机号、银行卡信息等信息。您授权本公司在法律规定的范围内保存您的姓名、身份证号、手机号、银行卡号、交易订单、交易记录等信息，以供向您持续性地提供和推广优质服务。您同意：
    </p>
    <p class="space">
        2.1.1 按照本公司要求准确提供并在取得美支付账号后及时更新您正确、最新及完整的身份信息及相关资料。若本公司有合理理由怀疑您提供的信息或相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部本服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。
    </p>
    <p class="space">
        2.1.2 您应当准确提供并及时更新您提供的联系方式，以便本公司与您进行及时、有效联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。
    </p>
    <p class="space">
        2.1.3 您应及时更新您的身份信息及相关资料，因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、美支付账号及该账号内余额被别人盗用，且您不得将此作为取消交易、拒绝付款的理由。
    </p>
    <p class="space">
        2.1.4 若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何身份信息或相关资料时，如您不能及时提供，本公司有权暂停或终止向您提供部分或全部本服务。
    </p>
    <p class="space">
        2.1.5 您在美支付账号中设置的姓名或昵称、头像等必须遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则本公司有权对您的美支付账号采取限制措施，包括但不限于屏蔽、撤销您美支付账号的姓名、昵称、头像，停止提供部分或全部本服务。
    </p>
    <p class="space">2.2 您应妥善保管下列信息、资料和硬件设备：</p>
    <p class="space">（1）美支付账号及其登录密码；</p>
    <p class="space">（2）美支付密码、手势密码；</p>
    <p class="space">（3）手机等移动终端及SIM卡信息；</p>
    <p class="space">
        您应妥善保管上述资料、信息和硬件设备，并确保您的手机等移动终端设备在安全、无病毒、未被入侵、未被监控、未被非法控制的环境下运行和使用。若您泄露了上述信息中的任意一项或遗失了上述硬件设备，由此导致的风险和损失应由您自行承担。
    </p>
    <p class="space">2.3 发生下列任一情形时，您应及时联系本公司的客服部门，以减少可能发生的损失：</p>
    <p class="space">（1）您不慎遗失或泄露了本协议第2.2条所列信息的；</p>
    <p class="space">（2）您遗失了您的手机等移动终端或SIM卡的；</p>
    <p class="space">（3）您在开设银行账户时预留了他人的手机号码的；</p>
    <p class="space">（4）第三人冒用或盗用您的身份信息或账户信息的；</p>
    <p class="space">
        （5）其他任何未经您本人合法授权，却在使用您的美支付账号、本服务的。
如发生上述情形，请及时拨打本公司客服电话：4008-555-116。
若您未及时通知本公司，您应自行承担因此遭受的损失。
    </p>
    <p class="space">三、【本服务的功能】</p>
    <p class="space">3.1 消费</p>
    <p class="space">
        您可以使用本服务向商户购买商品和服务，本公司将根据您或商户的交易指令，从您的“钱包”或您关联的其他第三方支付账户扣划相应资金至商户账户。
    </p>
    <p class="space">3.2 转账/收款</p>
    <p class="space">
        转账：您可以使用本服务向您指定的收款人转账，本公司将根据您或您指定的收款人的支付指令，从您的“钱包”或您关联的其他第三方支付账户中扣划相应资金至收款人的美支付账户。
    </p>
    <p class="space">收款：您也可以通过支付服务收取他人的转账资金，本公司可将该笔资金转至您的“钱包”。</p>
    <p class="space">3.3 查询</p>
    <p class="space">本公司将记录您使用本服务的交易情况，您可以在美支付客户端查询交易记录。</p>
    <p class="space">3.4 添加/解绑银行卡</p>
    <p class="space">您可以在美支付客户端关联新的银行卡或解绑银行卡用于提现。</p>
    <p class="space">3.5 修改/重置密码</p>
    <p class="space">您可以对原有密码进行修改，通过提供个人信息等资料申请密码重置。</p>
    <p class="space">若您就美支付交易申请退款的，退款成功后，本公司可直接将款项退还至您的美支付“钱包”中或关联的其他第三方支付账户。</p>
    <p class="space">3.7 充值和提现</p>
    <p class="space">充值：您可以将您的其他第三方支付账户中的资金划至您的“钱包”账户。</p>
    <p class="space">提现：您可以将“钱包”账户中的资金划转至您的关联银行账户。</p>

    <p class="space">四、【本服务的使用】</p>
    <p class="space">
        4.1 您的美支付账号在登录状态下发出的支付指令均视为您本人发出的支付指令，支付指令一旦发出即立即生效、不可撤销，本公司有权根据您发出的支付指令进行资金扣划和归集操作。您应妥善保管您的手机等电子设备、支付密码、短信校验码、数字证书、电子签名、以及用于美支付的条码、二维码等信息和资料，因您泄露、遗失、复制、转交前述信息和资料而导致的损失，由您自行承担。
    </p>
    <p class="space">4.2 您理解并同意，本公司并非银行或金融机构，无法提供资金即时到账服务，您认可资金于途中流转需要合理时间。</p>
    <p class="space">
        4.3 您使用本公司服务期间，本公司无须对为您保管、代收或代付款项的货币贬值、汇率损失和利息损失及其他风险担责，并且本公司无须向您支付此等款项的任何孳息。
    </p>
    <p class="space">
        4.3 您使用本公司服务期间，本公司无须对为您保管、代收或代付款项的货币贬值、汇率损失和利息损失及其他风险担责，并且本公司无须向您支付此等款项的任何孳息。
    </p>
    <p class="space">
        4.5 您使用本服务时，应当仔细确认交易及其金额后进行支付。本公司有权根据您的指令扣划资金给收款人，届时您不应以未在交易单据中签名、签名不符、非本人意愿交易等原因要求本公司退款或承担其他责任。
    </p>
    <p class="space">
        4.6 您对使用本服务过程中发出指令的合法性、真实性、完整性及有效性承担全部责任，本公司依照您的指令进行操作的一切风险由您自行承担。您认可本服务的相关交易信息均以本公司系统记录的为准。
    </p>
    <p class="space">
        4.7 您应按照本公司的要求完善您的身份信息以最终达到实名认证， 否则您可能会受到收款、提现和（或）支付等的限制，且本公司有权对您的美支付账号中的余额进行止付，直至您达到实名认证的标准。
    </p>
    <p class="space">4.8 您同意本公司有权以电子邮件、网站公告、电话或传真等方式通知您关于使用本服务的信息。</p>
    <p class="space">
        4.9 为了您的资金安全，您理解并同意，本公司有权评估您的交易风险并根据自身判断限制您的交易频次和额度，当本公司认为前述措施无法抑制交易风险时，本公司有权不经通知，直接限制、暂停您使用本公司的全部或部分功能。同时，“限制交易频次和额度”并非“限制、暂停本服务的全部或部分功能”的必要前置措施。
    </p>
    <p class="space">4.10 您承诺不为任何非法目的或以任何非法方式使用本服务，也不将本服务用于禁止或限制物品的交易。</p>
    <p class="space">4.11 您不得利用本服务实施下列任一的行为：</p>
    <p class="space">（1） 反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一；</p>
    <p class="space">（2） 侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权及其他权利；</p>
    <p class="space">（3） 冒用他人名义使用本服务；</p>
    <p class="space">（4） 从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件或其他违禁物；</p>
    <p class="space">（5） 提供赌博资讯或以任何方式引诱他人参与赌博；</p>
    <p class="space">（6） 涉嫌实施或实施洗钱、套现或进行传销活动；</p>
    <p class="space">（7） 使用无效信用卡或他人信用卡进行交易；</p>
    <p class="space">（8） 使用无效银行账户或他人银行账户进行交易；</p>
    <p class="space">（9） 侵害本服务系統；</p>
    <p class="space">
        （10） 违反法律法规、监管规定、本公司或其关联公司网站的条款、协议、规则、通告等相关规定，而被上述任一主体终止提供服务；
    </p>
    <p class="space">（11） 从事其他违反国家法律、法规、规章及政策法令的行为，或其他违反本协议的行为。</p>
    <p class="space">
        4.12 您同意，对于您通过美支付发生的交易，您已经不可撤销地授权本公司按照您与您的交易对象之间的协议及其制定并发布的规则进行处理。同时，您不可撤销地授权本公司有权从第三方获取您的相关信息（包括但不限于交易商品描述、物流信息、行为信息、账户相关信息等）。
    </p>
    <p class="space">五、【服务费用】</p>
    <p class="space">
        您理解，本服务附带营运成本，为了持续营运，本公司有权向您收取服务费用，服务费用的收取方式以您在使用本服务时收到的各类通知、告知为准。本公司发出的有关收费的各类通知、告知均为本协议的组成部分，您若在收到有关收费的各类通知或告知后仍然使用本服务，则视为您已无条件同意按照相关通知、告知所约定的收费标准和收费条件向本公司支付服务费用。
    </p>
    <p class="space">六、【遵守当地法律监管】</p>
    <p class="space">
        6.1 您在使用本服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任。
    </p>
    <p class="space">6.2 如您所属的国家或地区禁止或限制本协议内容的全部或部分，则您应立即停止使用本服务。</p>
    <p class="space">6.3 您应避免因使用本服务而使本公司卷入政治和公共事件，否则本公司有权暂停或终止对您的服务。</p>
    <p class="space">七、【责任范围及限制】</p>
    <p class="space">7.1 本公司仅对本协议中所列明的义务承担责任，且该责任范围仅以您实际遭受的经济损失为限。</p>
    <p class="space">
        7.2 本公司仅提供本服务，并不参与具体的商品或服务交易，您使用本服务时，因商品或服务交易本身所产生的任何纠纷或责任应由您自行解决或承担而概与本公司无关。
    </p>
    <p class="space">7.3 本服务是在现有技术水平下提供的，本公司将尽力为您提供服务，但无法保证该服务完全符合您的预期。</p>
    <p class="space">八、【不可抗力及其他免责事由】</p>
    <p class="space">
        8.1 在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服、不能避免且对一方或双方造成重大影响的客观事件，包括但不限于洪水、地震、瘟疫和风暴等自然灾害以及战争、动乱、政府行为等社会事件。出现上述情况时，本公司将努力在第一时间与相关单位配合及时进行修复，但由此给您造成的损失本公司在法律允许的范围内免责。
    </p>
    <p class="space">8.2 在法律允许的范围内，本公司对以下情形导致的服务中断或受阻不承担责任：</p>
    <p class="space">（1） 受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
    <p class="space">（2） 您或本公司的电脑软件、系统、硬件和通信线路出现故障；</p>
    <p class="space">（3） 您操作不当；</p>
    <p class="space">（4） 您通过非本公司授权的方式使用本服务；</p>
    <p class="space">（5） 银行系统或银行网络出现故障；</p>
    <p class="space">（6） 其他本公司无法控制或合理预见的情形。</p>
    <p class="space">8.3 您在使用本服务的过程中，本公司不对下列风险担责：</p>
    <p class="space">（1） 来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</p>
    <p class="space">（2） 遭受他人误导、欺骗或其他导致任何心理、生理上的伤害以及经济上的损失；</p>
    <p class="space">（3） 其他因网络信息或您行为引起的风险。</p>
    <p class="space">8.4 您在使用本服务的过程中，本公司在法律规定的范围内可处理违法违规内容，但其不构成本公司的义务或承诺。</p>
    <p class="space">九、【暂停、中断或终止服务】</p>
    <p class="space">9.1 本公司有权基于业务调整或风险管控的需要，暂停、中断或终止向您提供本服务。</p>
    <p class="space">
        9.2 您理解，本公司有权依据相关法律规定对您的美支付交易进行风险管控。您同意，当本公司基于单方判断，认为您有可疑交易或有违反法律规定或本协议约定之情形时，本公司有权不经通知，先行暂停、中断或终止向您提供本服务（包括但不限于对您美支付账号名下的款项和在途交易采取限制交易、暂停交易、取消交易、调账等措施），并拒绝您使用本服务之部分或全部功能。若本公司决定终止向您提供本服务的全部或部分服务，本公司有权将您滞留在该美支付账号的全部合法资金退回到您绑定的银行账户。
    </p>
    <p class="space">9.3 本公司发现您违反本协议或附属协议约定的，有权暂停、中断或终止向您提供本服务。</p>
    <p class="space">十、【隐私保护】</p>
    <p class="space">本公司重视对您隐私的保护，对您的个人隐私信息进行保密，除本协议另有约定或法律法规另有规定外。</p>
    <p class="space">十一、【知识产权保护】</p>
    <p class="space">
        11.1 本公司在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归本公司及其关联公司所有，您在使用本服务中所产生内容的知识产权归您或相关权利人所有。
    </p>
    <p class="space">11.2 除另有特别声明外，本公司提供本服务时所依托软件的著作权、专利权及其他知识产权均归本公司及其关联公司所有。</p>
    <p class="space">11.3 本公司在本服务中所使用的美支付等商业标识，其著作权或商标权归本公司及其关联公司所有。</p>
    <p class="space">
        11.4 上述知识产权均受到法律保护，未经本公司、您或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。
    </p>
    <p class="space">十二、【法律适用及争端解决】</p>
    <p class="space">12.1 本协议签订地为中华人民共和国广东省深圳市。</p>
    <p class="space">12.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
    <p class="space">
        12.3 您和本公司因本协议产生任何纠纷或争议的，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交至本协议签订地（深圳市）有管辖权的人民法院解决。
    </p>
    <p class="space">十三、【其他条款】</p>
    <p class="space">13.1 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
    <p class="space">13.2 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
    <p class="space">美支付</p>
</body>
</html>