<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/toast.css">
    </head>
    <body class="" ontouchstart>
        <!-- 顶部-->
        <div class="title-bar">
            <a href="http://app.mechat.com/goback.aspx" class="arrow-box"><img src="images/back.png"/></a>
            <b class="title">车险</b>
        </div>
        <div class="part1-top"></div>
        <div class="part1-bottom">
            <div class="part1-bottom-top">
                <img src="images/star.png" class="part1-bottom-star"/>
                <p class="part1-bottom-p1">生活圈携手安盛天平财产保险股份有限公司,达成全国战略合作</p>
                <p class="part1-bottom-p2"><b>自2016年1月20日起,购买安盛天平商业险,生活圈美支付APP即送购物币,买多少送多少,赠送额度高达100%。</b></p>
            </div>
            <div class="part1-bottom-inputbox">
                <!--<div>-->
                    <input type="tel" placeholder="请输入手机号" id="phone"/>
                    <!--<div style="position: absolute;">请输入手机号</div>-->
                <!--</div>-->
            </div>
            <div class="part1-bottom-btn">
                <div><span>立即预约</span></div>
            </div>
        </div>
        <!-- 理赔特色-->
        <div class="part-titles">
            <div class="part-titles-left"></div>
            <div class="part2-title-center part-titles-center">
                <img src="images/tittle1.png"/>
            </div>
            <div class="part-titles-right"></div>
        </div>
        <div class="part2-content">
            <div class="part2-content-con">
                <div class="part2-content-odd-left part2-contents"><span>快</span></div>
                <div class="part2-content-odd-center part2-contents"><div>接报案后,勘察员<span><b>10分钟内</b></span>联系客户,万元以下,单证齐全<span><b>一天赔付</b></span>。</div></div>
                <div class="part2-content-odd-right part2-contents"><img src="images/fast.png"/></div>
            </div>
        </div>
        <div class="part2-content part2-content-even">
            <div class="part2-content-con">
                <div class="part2-content-even-left part2-contents"><img src="images/simple.png"/></div>
                <div class="part2-content-even-center part2-contents"><div><span><b>365天×24小时</b></span>全年无休接报案/事故救援/查勘/<span><b>咨询服务</b></span>。一个电话为您轻松搞定。</div></div>
                <div class="part2-content-even-right part2-contents"><span>简</span></div>
            </div>
        </div>
        <div class="part2-content">
            <div class="part2-content-con">
                <div class="part2-content-odd-left part2-contents"><span>免</span></div>
                <div class="part2-content-odd-center part2-contents"><div>全年<span><b>无限次</b></span>非事故道路<span><b>免费救援</b></span>服务。</div></div>
                <div class="part2-content-odd-right part2-contents"><img src="images/free.png"/></div>
            </div>
        </div>
        <div class="part2-content part2-content-even">
            <div class="part2-content-con">
                <div class="part2-content-even-left part2-contents"><img src="images/easy.png"/></div>
                <div class="part2-content-even-center part2-contents"><div>全国多省市网点覆盖,异地出险<span><b>全国通赔,网上支付赔款,</b></span>无需辛苦往返。</div></div>
                <div class="part2-content-even-right part2-contents"><span>易</span></div>
            </div>
        </div>
        <!-- 购物币商城商品展示-->
        <div class="part-titles">
            <div class="part-titles-left"></div>
            <div class="part3-title-center part-titles-center">
                <img src="images/title2.png"/>
            </div>
            <div class="part-titles-right"></div>
        </div>
        <div class="part3">
            <div class="shopcoin-product-box">
                <p class="product-box-title"><b>获赠购物币立即可购以下商品</b></p>
                <div class="product-more product">
                    <img src="images/1.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥788</p>
                        <p>+人民币￥5000</p>
                        <p>总价￥5788</p>
                    </div>
                </div>
                <div class="product-more product">
                    <img src="images/2.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥5200</p>
                    </div>
                </div>
                <div class="product-more product">
                    <img src="images/3.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥1380</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/4.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥1380</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/5.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥780</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/6.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥398</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/7.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥1380</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/8.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥780</p>
                    </div>
                </div>
                <div class="product-simple product">
                    <img src="images/9.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥398</p>
                    </div>
                </div>
                <div class="product-more product">
                    <img src="images/10.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥8</p>
                    </div>
                </div>
                <div class="product-more product">
                    <img src="images/11.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥2.5</p>
                        <p>+人民币￥1</p>
                        <p>总价￥3.5</p>
                    </div>
                </div>
                <div class="product-more product">
                    <img src="images/12.png" class="product-img"/>
                    <div class="product-p-box">
                        <p>购物币￥3.5</p>
                        <p>+人民币￥1</p>
                        <p>总价￥4.5</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <p style="margin-top: 0.5em;margin-bottom: 0.5em;"><b>使用生活圈APP</b></p>
                <img src="images/mepay2.png" style="width: 4em;height: 3.8em;"/>
                <p style="margin-top: 0.3em;margin-bottom: 0;"><b>到联盟商家消费</b></p>
                <p style="margin: 0;"><b>即可获取购物币免费购买!</b></p>
                <div class="part1-bottom-btn">
                    <div><span>立即抢购</span></div>
                </div>
            </div>
        </div>
        <div id="shadow">
        	<div id="toast"></div>
        </div>
        <script src="../common/jquery-2.1.4.min.js"></script>
        <script src="js/toast.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>