<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>公共页面</title>
<link rel="stylesheet" href="css/grid.css" />
<link rel="stylesheet" href="css/main.css" />
	
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="grid-100 grid-parent">
                <div class="grid-30 mobile-grid-30 pull-left">
                    <a href="PhoneNote.html">&lt;返回</a>
                </div>
                <div class="grid-40 mobile-grid-40 text-center"></div>
                <div class="grid-30 mobile-grid-30">
                    <a href="RecentCall.html" class="pull-right" ></a>
                </div>
            </div><!-- grid-100 -->
        </div><!-- header -->
        <div id="content">        	
            <div class="hotline">
            	<p class="title">热门号码</p>
            	
                
            </div><!-- hotline -->
        </div> <!--id=content -->
    </div><!-- grid-container -->  
</body>
<script src="js/jquery.js"></script>

<script src="js/search.js"></script>
<script src="js/ditails.js"></script>

</html>
