<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>电话黄页</title>
<link rel="stylesheet" href="css/grid.css" />
<link rel="stylesheet" href="css/main.css" />
	
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="grid-100 grid-parent">
                <div class="grid-30 mobile-grid-30 pull-left">
                    <a href="PhoneNote.html">&lt;返回</a>
                </div>
                <div class="grid-40 mobile-grid-40 text-center">电话黄页</div>
                <div class="grid-30 mobile-grid-30">
                    <a href="RecentCall.html" class="pull-right" >最近拨打</a>
                </div>
            </div><!-- grid-100 -->
        </div><!-- header -->
        <div id="content">
        	<div class="search">
                <div class="search-bar">
                    <input type="text" placeholder="中国南方航空、圆通速递" /><a href="#" class="cancle" >取消</a>
                </div><!-- search-bar -->
            </div>
            <div class="list-box">
            	<div class="grid-100 grid-parent">
                	<div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center">
                        	<a id="Courier" href="common.html?view=courier"><img src="img/快递.png" /><p>快递</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=bank"><img src="img/银行.png" /><p>银行</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=ticket"><img src="img/机票.png" /><p>机票</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a  href="common.html?view=taxi"><img src="img/租车.png" /><p>租车</p></a>
                        </div>
                    </div><!--grid-25-->
                </div><!-- grid-100-->
                <div class="grid-100 grid-parent">
                	<div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=branAfter_sales"><img src="img/品牌售后.png" /><p>品牌售后</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=G_driving"><img src="img/代驾.png" /><p>代驾</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=securities"><img src="img/证券.png" /><p>证券</p></a>
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=hotline"><img src="img/生活热线.png" /><p>生活热线</p></a>
                        </div>
                    </div><!--grid-25-->
                </div><!-- grid-100-->
                <div class="grid-100 grid-parent">
                	<div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=insurance"><img src="img/保险.png" /><p>保险</p></a>                            
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center">
                        	<a href="common.html?view=hotel"><img src="img/酒店.png" /><p>酒店</p></a>                            
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=journey"><img src="img/旅游.png" /><p>旅游</p></a>                            
                        </div>
                    </div><!--grid-25-->
                    <div class="grid-25 mobile-grid-25 grid-parent">
                    	<div class="box text-center" >
                        	<a href="common.html?view=public_service" ><img src="img/公共服务.png" /><p>公共服务</p></a>                            
                        </div>
                    </div><!--grid-25-->                     
                </div><!-- grid-100-->             
            </div><!-- list-box -->
            <div class="clear"></div>
            <div class="hotline">
            	<p class="title">热门号码</p>
            	
                
            </div><!-- hotline -->
        </div> <!--id=content -->
    </div><!-- grid-container -->  
</body>
<script src="js/jquery.js"></script>

<script src="js/search.js"></script>
<script src="js/ditails.js"></script>
<script src="js/PhoneNote.js"></script>
</html>
