<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="tips.css">
</head>
<body>
<!-- 顶部-->
<div class="title-bar">
    <a href="http://app.mechat.com/goback.aspx" class="arrow-box"><img src="back.png"/></a>
    <b class="title">秒杀</b>
</div>
<h1 id="tips-title">通知</h1>
<div id="tips-content">
    <p>为优化天缘美生活圈板块功能,现将秒杀板块与美淘板块功能合并,用户可点击生活圈首页中的 "<span class="vital">新品上市</span>" 进入查看购买原秒杀中的特价推广商品,并在 "<span class="vital">美淘券</span>" 中查看并兑换购买到的商品;</p>
    <p>在原秒杀中已购得的尚未兑换的秒杀券,可在 "<span class="vital">我的秒杀券</span>" 中查看并兑换秒到的商品,原秒杀券不失效。</p>
    <p>感谢对天缘美生活圈的支持和使用,如有疑问可致电全国服务热线<span class="vital"> 4008555116</span></p>
    <a id="ticket-url">
        <div id="ticket-box">
            <img src="../images/seckill-ticket.png" alt=""/><br>
            我的秒杀券
        </div>
    </a>
</div>
</body>
<script src="tips.js"></script>
</html>