<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="css/ui-box.css">
        <link rel="stylesheet" href="css/ui-base.css">
        <link rel="stylesheet" href="css/ui-color.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body class="um-vp bg" ontouchstart>
        <div class="ub ub-ver">
            <!--生活圈-->
            <div class=" ub ub-ver sudoku">
                <div class="ub bc-text">
                    <a class="ub ub-ver ub-ac ub-pc box tymshop">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/tym.jpg)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c" id="tymText">TIYOUME腕表</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/gwbsc2.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">购物币商城</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/gwbsc2.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">新品上市</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/ms.png);"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">天天特价</div>
                    </a>
                </div>
                <div class="ub bc-text">
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/hwdg.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">尚进海淘</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc big-box sec-ele"><div style="background-image:url(images/qmtg.png);width: 80%;height:4em;background-size: 100% 100%;background-repeat: no-repeat;"></div></a>
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/db.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">1元云购</div>
                    </a>
                </div>
                <div class="ub bc-text">
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele last-line-box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/wallet3.png);"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">卡包</div>
                    </a>
                    <!--<a class="ub ub-ver ub-ac ub-pc box sec-ele">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/ticket.png);width: 1.2em;height: 1.2em;margin-bottom: 0.15em;margin-top: 1.35em;"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">美淘券</div>-->
                    <!--</a>-->
                    <a class="ub ub-ver ub-ac ub-pc box last-line-box sec-ele">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/proxy.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">个人代理申请</div>
                    </a>
                    <!--<a class="ub ub-ver ub-ac ub-pc box last-line-box" href="http://appbs.tymshop.com:8080/appbs/auto_insurance/index.html">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/insurance.png)"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">车险</div>-->
                    <!--</a>-->
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele last-line-box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/shelf2.jpg);"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">货架商品</div>
                    </a>
                    <!--<a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/ms.png)"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">秒杀</div>-->
                    <!--</a>-->
                    <!--<a class="ub ub-ver ub-ac ub-pc box sec-ele" style="border-bottom: 0">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/seckill-ticket.png);"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">我的秒杀券</div>-->
                    <!--</a>-->
                    <!--<a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox last-line-box">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/yg.png)"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">义工</div>-->
                    <!--</a>-->
                    <a class="ub ub-ver ub-ac ub-pc box sec-ele sec-ele-smallbox last-line-box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/lexiang2.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">乐享商城</div>
                    </a>
                </div>
                <!--<div class="ub bc-text">-->
                    <!--<a class="ub ub-ver ub-ac ub-pc box sec-ele last-line-box">-->
                        <!--<div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/shelf.jpg);"></div>-->
                        <!--<div class="ulev-4 umar-t-acc1 box-text tx-c">货架商品</div>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
            <!--附近积分消费8大分类-->
            <div class=" ub ub-ver sudoku" id="nearShopCateBox" style="margin-top: 0.65em;border-top: 0;">
                <div class="ub bc-text">
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/food.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">美食</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/beautysalon.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">美容美发</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/footbath.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">足浴</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/KTV.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">KTV</div>
                    </a>
                </div>
                <div class="ub bc-text">
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/movie.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">电影</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/hotel.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">酒店</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/lifeservice.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">生活服务</div>
                    </a>
                    <a class="ub ub-ver ub-ac ub-pc box">
                        <div class="box-img uwh-acc2 umar-at1" style="background-image:url(images/other.png)"></div>
                        <div class="ulev-4 umar-t-acc1 box-text tx-c">其他</div>
                    </a>
                </div>
            </div>
            <!--附近联盟店-->
            <div id="near-shop-box" class="near-shop">
                <a class="c-wh ub ub-ver shop-box">
                    <ul class="ubb ub b-gra-pM1 bc-text lis near-box">
                        <li class="ub-img ub ub-ver mar-ar1 near-top-left">
                            <div class="img shop-img"></div>
                        </li>
                        <li class="uw-pM2 ub ub-ver">
                            <div class="uof ulev0 line-hei mar-ar1 shop-name"></div>
                            <div class="uof ulev-p1 line-hei mar-t near-color">
                                <span class="ulev0">消费送</span><span class="present-num"><span class="shop-give-card">50</span><span class="ulev-4">%</span></span><span class="ulev-4">购物币</span>
                                <div class="ulev-4 exchange-point">兑换点</div>
                            </div>
                            <div class="ulev-1" style="color: gray;">
                                <div class="ut-s mar-t" style="width: 40%;float: left;"><span class="major-sell">其他</span>|<span class="city">珠海</span></div>
                                <div class="ut-s uw-app2 mar-t tx-r" style="width: 53%;float: right;padding-right: 1em;">
                                    <span class="avg-box">人均:<span class="shop-per-avg">20</span>元&nbsp;</span>
                                    <span class="shop-distance">2000</span>m
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
                <a class="c-wh ub ub-ver shop-box">
                    <ul class="ubb ub b-gra-pM1 bc-text lis near-box">
                        <li class="ub-img ub ub-ver mar-ar1 near-top-left">
                            <div class="img shop-img"></div>
                        </li>
                        <li class="uw-pM2 ub ub-ver">
                            <div class="uof ulev0 line-hei mar-ar1 shop-name"></div>
                            <div class="uof ulev-p1 line-hei mar-t near-color">
                                <span class="ulev0">消费送</span><span class="present-num"><span class="shop-give-card">50</span><span class="ulev-4">%</span></span><span class="ulev-4">购物币</span>
                                <div class="ulev-4 exchange-point">兑换点</div>
                            </div>
                            <div class="ulev-1" style="color: gray;">
                                <div class="ut-s mar-t" style="width: 40%;float: left;"><span class="major-sell">其他</span>|<span class="city">珠海</span></div>
                                <div class="ut-s uw-app2 mar-t tx-r" style="width: 53%;float: right;padding-right: 1em;">
                                    <span class="avg-box">人均:<span class="shop-per-avg">20</span>元&nbsp;</span>
                                    <span class="shop-distance">2000</span>m
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
                <a class="c-wh ub ub-ver shop-box">
                    <ul class="ubb ub b-gra-pM1 bc-text lis near-box">
                        <li class="ub-img ub ub-ver mar-ar1 near-top-left">
                            <div class="img shop-img"></div>
                        </li>
                        <li class="uw-pM2 ub ub-ver">
                            <div class="uof ulev0 line-hei mar-ar1 shop-name"></div>
                            <div class="uof ulev-p1 line-hei mar-t near-color">
                                <span class="ulev0">消费送</span><span class="present-num"><span class="shop-give-card">50</span><span class="ulev-4">%</span></span><span class="ulev-4">购物币</span>
                                <div class="ulev-4 exchange-point">兑换点</div>
                            </div>
                            <div class="ulev-1" style="color: gray;">
                                <div class="ut-s mar-t" style="width: 40%;float: left;"><span class="major-sell">其他</span>|<span class="city">珠海</span></div>
                                <div class="ut-s uw-app2 mar-t tx-r" style="width: 53%;float: right;padding-right: 1em;">
                                    <span class="avg-box">人均:<span class="shop-per-avg">20</span>元&nbsp;</span>
                                    <span class="shop-distance">2000</span>m
                                </div>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>
            <!--购物币商城-->
            <div class="c-wh umar-at2">
                <div class="ub uinn-esh3">
                    <div class="firstline-left vip-bg"></div>
                    <div class="ub-f1 ulev1 t-bla">购物币商城</div>
                    <a class="firstline-right" id="vip-more">
                        <div class="ulev-1 t-gar-a0 tx-r mar-mt mar-ssl ufl mar-r">更多</div>
                        <div class="firstline-angle vip-angle ufr"></div>
                    </a>
                </div>
                <div id="vip-box" class="ub ub-ver mar-sl mar-r">
                    <div class="ub umar-at1 mar-r vip-line-box">
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="font-lev-1 t-gra-ele umw-eleL ut-s ub-f1">
                                        <span class="vip-color">￥<span class="ulev2 shop-coin">10</span></span>购物币
                                        <div class="">&nbsp;+<span class="inventory">5</span>元现金</div>
                                    </div>
                                    <div class="ufm1 t-red-eleL ulev0 ub-pe sc-text-warn tx-c vip-bg vip-btn">立即抢</div>
                                </div>
                            </div>
                        </a>
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="font-lev-1 t-gra-ele umw-eleL ut-s ub-f1">
                                        <span class="vip-color">￥<span class="ulev2 shop-coin">10</span></span>购物币
                                        <div class="">&nbsp;+<span class="inventory">5</span>元现金</div>
                                    </div>
                                    <div class="ufm1 t-red-eleL ulev0 ub-pe sc-text-warn tx-c vip-bg vip-btn">立即抢</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="ub mar-mt mar-r vip-line-box">
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="font-lev-1 t-gra-ele umw-eleL ut-s ub-f1">
                                        <span class="vip-color">￥<span class="ulev2 shop-coin">10</span></span>购物币
                                        <div class="">&nbsp;+<span class="inventory">5</span>元现金</div>
                                    </div>
                                    <div class="ufm1 t-red-eleL ulev0 ub-pe sc-text-warn tx-c vip-bg vip-btn">立即抢</div>
                                </div>
                            </div>
                        </a>
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="font-lev-1 t-gra-ele umw-eleL ut-s ub-f1">
                                        <span class="vip-color">￥<span class="ulev2 shop-coin">10</span></span>购物币
                                        <div class="">&nbsp;+<span class="inventory">5</span>元现金</div>
                                    </div>
                                    <div class="ufm1 t-red-eleL ulev0 ub-pe sc-text-warn tx-c vip-bg vip-btn">立即抢</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--夺宝-->
            <div class="c-wh umar-at2">
                <div class="ub uinn-esh3">
                    <div class="firstline-left indiana-bg"></div>
                    <div class="ub-f1 ulev1 t-bla">一元云购</div>
                    <a class="firstline-right" id="indiana-more">
                        <div class="ulev-1 t-gar-a0 tx-r mar-mt mar-ssl ufl mar-r">更多</div>
                        <div class="firstline-angle indiana-angle ufr"></div>
                    </a>
                </div>
                <div id="indiana-box" class="ub ub-ver mar-sl mar-r">
                    <div class="ub umar-at1 mar-r indiana-line-box">
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="ulev-6 t-gra-ele ut-s ub-f1" style="color: #e2556c;">￥<span class="shop-coin">1</span></div>
                                    <div class="ulev-6 t-gra-ele umw-eleL ut-s ub-f1 tx-r">
                                        <div style="color: #e2556c;">剩余 <span class="inventory" style="color: #21bfff;">300</span></div>
                                    </div>
                                </div>
                                <div class="ub seckill-line2 umar-t umar-b indiana-midline" style="background-color: #efefef;">
                                    <div style="background-color: #ff9100;width: 50%;height: 100%;border-radius: 5px;"></div>
                                </div>
                            </div>
                        </a>
                        <a class="c-wh ub ub-ver product-box mar-r">
                            <div class="product-img ub-fh"></div>
                            <div class="product-box-bottom">
                                <div class="ub">
                                    <div class="ulev0 t-gra-ele umw-eleL ut-s ub-f1 product-name">奢谷SHEGU 2015女士韩版上衣啊是的代购费</div>
                                </div>
                                <div class="ub seckill-line2 mar-mt">
                                    <div class="ulev-6 t-gra-ele ut-s ub-f1" style="color: #e2556c;">￥<span class="shop-coin">1</span></div>
                                    <div class="ulev-6 t-gra-ele umw-eleL ut-s ub-f1 tx-r">
                                        <div style="color: #e2556c;">剩余 <span class="inventory" style="color: #21bfff;">300</span></div>
                                    </div>
                                </div>
                                <div class="ub seckill-line2 umar-t umar-b indiana-midline" style="background-color: #efefef;">
                                    <div style="background-color: #ff9100;width: 50%;height: 100%;border-radius: 5px;"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../common/jquery-2.1.4.min.js"></script>
        <script src="tymAES/TYMLOCK.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>