<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../common/header/header.css">
</head>
<body>
<!-- 顶部-->
<div class="title-bar">
    <a href="http://app.mechat.com/goback.aspx" class="arrow-box"></a>
    <b class="title">乐享商城</b>
</div>
<img src="images/lexiang-ui.jpg" style="width: 100%;margin-top: 2.75em;"/>
</body>
<script src="cardbag.js"></script>
</html>