<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/provider.css" />
    <script src="../js/server.js" type="text/javascript"></script>

    <script type="text/javascript" src="js/provider.js"></script>
    <title>供应商店铺分享</title>
</head>

<body>
    <div id="header" class="clearfix">
        <div id="shopLogo" class="left"><img src="images/zfxq_dpmz_icon_nor@2x.png"></div>
        <div>
            <div id="shopName" class="left">天天兑供应商</div>
            <div id="likeBtn" class="right">收藏</div>
        </div>
        <div id="shopTag"></div>
    </div>
    <!-- 头部商家信息end -->
    <div style="clear:both;"></div>
    <div id="activity" class="clearfix">
        <ul class="toggle">
            <!-- <li><span class="productTake">满减</span>满99元减50元，满199元减100元满99元减50元</li>
            <div class="activity" style="display:none;">
                <li><span class="productTake">满减</span>满99元减50元，满199元减100元</li>
                <li><span class="productTake">满减</span>满99元减50元，满199元减100元</li>
            </div>
            <div id="clickToggle"><span id="number"></span><img src="images/ty_jiantouxia_icon_nor@2x.png"></div> -->
        </ul>
    </div>
    <div id="navbar" class="clearfix">
        <ul class="left">
            <li class="active">综合</li>
            <li>销量</li>
            <li>新品</li>
        </ul>
        <div id="transform" class="right"></div>
    </div>
    <!-- 导航栏end -->
    <!-- 广告图 -->
    <div id="adImg"><img/></div>
    <div id="goodsList">
    </div>
    <!-- 产品列表end -->
    <!-- 提示 -->
    <div id="shadowTips">
        <div class="shadowTips_top"></div>
        <div class="shadowTips_mid">
            <div class="shadowTips_mid_left"><img src="./../TTD-register/img/chacha.png" width="30px" height="30px" /></div>
            <div class="shadowTips_mid_right"><img src="./../TTD-register/img/arrow.png" height="100%" /></div>
        </div>
        <div class="shadowTips_bottom_tipsone">1. 点击右上角的
            <!--  <img src="./../TTD-register/img/qqshare.jpg" /> -->按钮 </div>
        <br>
        <div class="shadowTips_bottom_tipstwo">2. 选择"<span id="phone_browser_word"></span>"即可前往</div>
    </div>
</body>

</html>