<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个代推荐说明</title>
    <style type="text/css">
    body{
        font-family: "微软雅黑";
        font-size: 9.8pt;
    }
    table {
        font-family: "微软雅黑";
        font-size: 7.5pt;
    }
    
    h3 {
        text-align: center;
    }
    
    div>p {
        margin: 0pt;
        orphans: 0;
        text-align: justify;
        text-indent: 21pt;
        widows: 0
    }
    
    td {
        text-align: center;
        border-bottom-color: #000000;
        border-bottom-style: solid;
        border-bottom-width: 0.75pt;
        border-left-color: #000000;
        border-left-style: solid;
        border-left-width: 0.75pt;
        border-right-color: #000000;
        border-right-style: solid;
        border-right-width: 0.75pt;
        border-top-color: #000000;
        border-top-style: solid;
        border-top-width: 0.75pt;
        vertical-align: middle;
    }
    </style>
</head>

<body>
    <h3>个代推荐说明</h3>
    <div>
        <p>
            任何注册用户付费成为个代后，即拥有了推荐新个代并获取收益的权限。个代推荐收益分为个代费用提成及个代所开店家交易提成两部分，各分两级，具体数量及比例请参考列表。</p>
        <p>例如：Z申请开通个代，填写推荐人为Y；而Y开通个代时填写的推荐人为X；X开通个代时填写推荐人为W，</p>
        <p>则：W是X的个代推荐人，X是Y的个代推荐人，Y是Z的个代推荐人
        </p>
        <p>因此： 1、 W获得X开通个代时10%现金提成，获得Y开通个代时10%绑定现金提成；还获得X、Y所开的店家的交易额提成。但是Z开通个代时不再获得提成。 
        </p>
        <p>2、X获得Y开通个代时10%现金提成，获得Z开通个代时10%绑定现金提成；还获得Y、Z所开的店家的交易额提成。但是Z再推荐开通个代时X不再获得提成。</p>
        <p>以此类推，收益关系及具体数量、比例如下表：</p>
        <p>一、个代费以及交易额提成关系：</p>
    </div>
    <div>
        <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto; width:100%;">
            <tbody>
                <tr>
                    <td>W</td>
                    <td style="width:23%">W获得<br/>X、Y提成</td>
                    <td style="width:23%">X获得<br/>Y、Z提成</td>
                    <td style="width:23%">Y获得Z以及<br/>Z再推荐提成</td>
                    <td style="width:23%">Z获得提成</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>
                        10%现金
                        <br/>+交易提成</td>
                    <td>无</td>
                    <td>无</td>
                    <td>无</td>
                </tr>
                <tr>
                    <td>Y</td>
                    <td>
                        10%绑定现金
                        <br/>+交易提成</td>
                    <td>
                        10%现金
                        <br/>+交易提成</td>
                    <td>无</td>
                    <td>无</td>
                </tr>
                <tr>
                    <td>Z</td>
                    <td>无</td>
                    <td>10%绑定现金<br/>+交易提成</td>
                    <td>10%现金<br/>+交易提成</td>
                    <td>无</td>
                </tr>
                <tr>
                    <td>Z再推荐</td>
                    <td>无</td>
                    <td>无</td>
                    <td>10%绑定现金<br/>+交易提成</td>
                    <td>10%现金<br/>+交易提成</td </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top:20px auto;">
        <p>二、个代开店提成（商家每笔交易都提成）：</p>
        <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto; width:100%; ">
            <tbody>
                <tr>
                    <td style="width:23%;background:url(xiexian.png);">
                        <span style="text-indent: 23pt;display: inherit;">商家折扣<span>
                        <br/> <span style="margin-left: -23pt;display: inherit;">利润比例</span>
                    </td>
                    <td>90%</td>
                    <td>85%</td>
                    <td>80%</td>
                    <td>75%</td>
                    <td>70%</td>
                    <td>65%</td>
                    <td>60%</td>
                </tr>
                <tr>
                    <td>
                        一级推荐人
                    </td>
                    <td>0.08%</td>
                    <td>0.17%</td>
                    <td>0.25%</td>
                    <td>0.33%</td>
                    <td>0.42%</td>
                    <td>0.50%</td>
                    <td>0.58%</td>
                </tr>
                <tr>
                    <td>
                        二级推荐人
                    </td>
                    <td>0.08%</td>
                    <td>0.17%</td>
                    <td>0.25%</td>
                    <td>0.33%</td>
                    <td>0.42%</td>
                    <td>0.50%</td>
                    <td>0.58%</td>
                </tr>
                <tr>
                    <td>
                        本区开店
                    </td>
                    <td>0.67%</td>
                    <td>1.33%</td>
                    <td>2.00%</td>
                    <td>2.66%</td>
                    <td>3.33%</td>
                    <td>3.99%</td>
                    <td>4.66%</td>
                </tr>
                <tr>
                    <td>
                        跨区开店
                    </td>
                    <td>0.33%</td>
                    <td>0.67%</td>
                    <td>1.00%</td>
                    <td>1.33%</td>
                    <td>1.67%</td>
                    <td>2.00%</td>
                    <td>2.33%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p style="font-size: 7.5pt;">注：上表所有收益比例为系统实际计算比例的约等数，为了表格美观，因此表格上只保留两位小数，如：表格上1.00%，实际系统计算时是0.9975%；表格上1.66%，实际系统计算为1.6625%，因此，个人以表格比例核对收益数据时会有轻微误差。</p>
    </div>
</body>

</html>
