<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>天天兑平台个人代理协议</title>
    <link rel="stylesheet" href="proxy_shop_protocol/styles/agency_styles.css">
</head>
<body>
<div id="all_agency">
    <div class="agency">
        <h2 class="agency_h2">天天兑平台个人代理协议</h2>
        <div class="agency2">
            <p>
                <span class="agency_span">天天兑平台（以下简称“平台”）采取代理加盟方式在全国范围内推广，您本着具有便利平台推广的资源与诚实信用的原则，自愿按天天兑平台个人代理（以下简称“代理”）申请条件，申请注册成为天天兑个人代理。请您仔细阅读本注册协议，您点击“同意并继续”按钮后，本协议即构成对双方有约束力的法律文件，就您代理平台有关事宜，您与平台达成如下条款：   </span>
            </p>
            <strong> 第一条 定  义</strong>
            <p>
                <span class="agency_span">
                    1.1 本文中所指平台，是由深圳市天天兑科技有限公司（以下简称“公司”）开发的电商支付系统天天兑综合性平台。<br>
                    1.2 “商家”是指由您发展其与平台合作，入驻和推广平台，归属您名下的商家。<br>
                    1.3 合同项下之“货架” ，以“套”为计量单位，一个计量单位包含一个空架以及一套市场价2万-3万元的商品。货架由公司购买、投资，为助推用户开发市场，以收取押金的方式提供给用户推广、使用。货架的配置、产品类别、摆放方式、商品价格等由公司统一规划。<br>
                    1.4利润指通过系统线上及线下交易盈利、发展下级代理商产生的收入、广告收入等。双方投入的成本、推广费用、给您或其他用户的返利等需扣除，不计算在内。
                </span>
            </p>
            <strong> 第二条 代理地区、代理期限与平台建设费</strong>
            <p>
                <span class="agency_span">
                    2.1平台授权您作为天天兑平台个人代理。<br>
                    2.2代理期限直至一方丧失经营主体资格或出现合同约定终止、解除事项时止。<br>
                    2.3您需支付平台建设费，平台建设费金额以支付时实际数额为准。
                </span>
            </p>
            <strong> 第三条 协议内容及效力</strong>
            <p>
                <span class="agency_span">
                    3.1 本协议内容包括协议正文及所有天天兑已发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与本协议具有同等法律效力。<br>
                    3.2 用户在使用天天兑提供的各项服务的同时，承诺接受并遵守各项相关规则的规定。天天兑有权根据需要不时地制定、修改本协议或各类规则，如本协议有任何变更，天天兑将在网站上以公示形式通知予用户。如用户不同意相关变更，应立即停止接受天天兑网站依据本协议提供的服务。任何修订和新规则一经在天天兑网站公布即自动生效，成为本协议的一部分。登录或继续使用服务将表示用户接受已经修订的协议。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本协议约束。  <br>
                    3.3 用户签署或在线接受本协议并不导致本协议立即生效，经过天天兑审核通过并向用户发出服务开通通知时，本协议即在用户和天天兑之间产生法律效力。本协议不涉及用户与天天兑其它用户之间因网上交易而产生的法律关系及法律纠纷。
                </span>
            </p>
            <strong> 第四条 信息提交及隐私保护</strong>
            </p>
            <p>
                <span class="agency_span">
                    4.1 用户应自行诚信向本站提供注册资料，用户同意其提供的注册资料真实、准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且天天兑保留终止用户使用天天兑平台各项服务的权利。<br>
                    4.2天天兑将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。如天天兑按您最后一次提供的信息与您联系未果、您未按天天兑的要求及时提供信息、您提供的信息存在明显不实或行政司法机关核实您提供的信息无效的，您将承担因此对您自身、他人及天天兑造成的全部损失与不利后果。天天兑可向您发出询问或要求整改的通知，并要求您进行重新认证，直至中止、终止对您提供部分或全部天天兑平台服务，天天兑对此不承担责任。<br>
                    4.3 用户在本站进行浏览、推广等活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，本站不会向外界披露用户隐私信息。 <br>
                    4.4 用户注册成功后，将产生用户名和密码等账户信息，用户可以根据本站规定改变密码。用户应谨慎合理的保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本站并向公安机关报案。<br>
                    4.5您的账户为您自行设置并由您保管，天天兑任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开天天兑平台。账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，天天兑并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。<br>
                    4.6除天天兑存在过错外，您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、代理服务及披露信息等）负责。<br>
                    4.7如发现任何未经授权使用您账户登录天天兑平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知天天兑。您理解天天兑对您的任何请求采取行动均需要合理时间，且天天兑应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除天天兑存在法定过错外，天天兑不承担责任。<br>
                    4.8 用户同意，天天兑平台拥有通过邮件、短信电话等形式，向在本站注册、推广代理等告知信息的权利。 <br>
                    4.9 用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。<br>
                    4.10由于您的天天兑账户关联您的个人信息及天天兑平台商业信息，您的天天兑账户仅限您本人使用。未经天天兑平台同意，您直接或间接授权第三方使用您天天兑账户或获取您账户项下信息的行为无效。<br>
                    4.11由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经天天兑同意，并符合天天兑平台规则规定的用户账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则天天兑平台有权追究您的违约责任，且由此产生的一切责任均由您承担。<br>
                    4.12作为天天兑平台经营者，为使您更好地使用天天兑平台的各项服务，保障您的账户安全，天天兑可要求您按天天兑平台要求及我国法律规定完成实名认证。
                </span>
            </p>
            <strong> 第五条 用户的承诺和保证</strong>
            <p>
                <span class="agency_span">
                    本协议依据国家相关法律、法规、规章制定，用户承诺并保证严格遵守以下义务：<br>
                    5.1 不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论。 <br>
                    5.2 从中国大陆向境外传输资料信息时必须符合中国有关法规。<br>
                    5.3 不得利用本站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动。 <br>
                    5.4 不得干扰本站的正常运转，不得侵入本站及国家计算机信息系统。 <br>
                    5.5 不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的等信息资料。<br>
                    5.6 不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论。 <br>
                    5.7 不得教唆他人从事本条所禁止的行为。 <br>
                    5.8 不得利用在本站注册的账户进行牟利性经营活动。 <br>
                    5.9 不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容。 <br>
                    5.10 用户应不时关注并遵守本站不时公布或修改的各类合法规则规定。<br>
                    5.11 本站保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。 <br>
                    5.12 若用户未遵守以上规定的，本站有权采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。
                </span>
            </p>
            <strong> 第六条 您的收益</strong>
            <p>
                <span class="agency_span">
                    6.1您开发的商家，由您推广、管理、维护。<br>
                    6.2您的经营业绩、以及商家是否在您归属区域内相关，具体如下：<br>
                    代理期限内，以商家每笔交易计算您的收益，您的收益 = 商家交易额×收益比例。每个商家的交易，对应的退还比例以其对平台的结算折扣以及商家与您是否同属一区而选择对应的比例计算，具体如下表：
                </span>
                <table cellpadding="1" cellspacing="1" align="center">
                    <tr>
                        <th>商家与平台的结算折扣</th>
                        <td>90%</td>
                        <td>85%</td>
                        <td>80%</td>
                        <td>75%</td>
                        <td>70%</td>
                        <td>65%</td>
                        <td>60%</td>
                    </tr>
                    <tr>
                        <th>与您同属一区商家的收益比例</th>
                        <td>0.67%</td>
                        <td>1.33%</td>
                        <td>2.00%</td>
                        <td>2.66%</td>
                        <td>3.32%</td>
                        <td>3.99%</td>
                        <td>4.66%</td>
                    </tr>
                    <tr>
                        <th>与您不同属一区商家的收益比例</th>
                        <td>0.33%</td>
                        <td>0.67%</td>
                        <td>1.00%</td>
                        <td>1.33%</td>
                        <td>1.66%</td>
                        <td>1.99%</td>
                        <td>2.33%</td>
                    </tr>
                </table>
                <span class="agency_span">
                    如：（1）某商家与平台结算折扣为80%（八折），地处您开通个代时您选择的您自身归属的地域内，即商家与您同属一区，您的收益例为 2.0 %，即：该商家的交易，平台以每笔交易额的2.0%计算您的收益；<br>
                    （2）某商家与平台结算折扣为80%（八折），地处您开通个代时您选择的您自身归属的地域之外，即商家与您不同属一区，您的收益例为1.0 %，即：该商家的交易，平台以每笔交易额的1.0%计算您的收益。<br>
                    6.3 非公司原因导致的代理无法执行、协议终止，您不再获得任何收益。您所有收益为税前收益。
                </span>
            </p>
            <strong> 第七条 天天兑的权利和义务</strong>
            <p>
                <span class="agency_span">
                    7.1 天天兑有义务在现有技术上维护整个天天兑平台的正常运行，并努力提升和改进技术，使用户推广活动得以顺利进行。<br>
                    7.2 对用户在注册使用服务中所遇到的与注册有关的问题及反映的情况，天天兑应及时作出回复。  <br>
                    7.3 因网络平台的特殊性，天天兑没有义务对所有用户的代理行为以及与代理有关的其它事项进行事先审查，但如存在下列情况：<br>
                    7.3.1 第三方通知天天兑，认为某用户或代理事项可能存在重大问题； <br>
                    7.3.2用户或第三方向天天兑告知，天天兑平台上有违法或不当行为的，天天兑以普通非专业人员的知识水平、标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，天天兑有权根据不同情况选择删除相关信息或停止对该用户提供服务，并追究相关法律责任。 <br>
                    7.4 天天兑有权对用户的注册数据及代理行为进行查阅，发现注册数据或代理行为中存在任何问题或怀疑，均有权向用户发出询问或要求改正的通知，或者直接作出删除等处理。<br>
                    7.5 经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者天天兑有足够事实依据可以认定用户存在违法或违反协议行为的，天天兑有权在天天兑官方网站公布用户的违法或违规行为。 <br>
                    7.6 对于用户在天天兑平台发布的下列各类信息，天天兑有权在不通知用户的前提下进行删除或采取其它限制性措施，包括但不限于以规避费用为目的的信息；以炒作为目的的信息；天天兑有理由相信存在欺诈等恶意或虚假内容的信息；天天兑有理由相信属违反公共利益或可能严重损害天天兑或其它用户合法利益的信息。 <br>
                    7.7 天天兑有权根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，此种情况将会提前30天以网站公告的形式通知用户。用户承诺对此不持有异议。
                </span>
            </p>
            <strong> 第八条 您权利和义务</strong>
            <p>
                <span class="agency_span">
                    8.1您的代理权不得转让，不得对外作任何形式的担保。<br>
                    8.2您须维持市场价格行情稳定，不得随意改变销售价格。<br>
                    8.3您有权按照本协议约定接受天天兑提供的平台服务。<br>
                    8.4 您应保证其在注册时和申请时所提供的姓名、联系方式、联系地址等全部信息真实、完整、准确，并当上述信息发生变更时及时进行更新提供给天天兑的信息。<br>
                    8.5 您在代理天天兑平台时不得恶意干扰天天兑的正常进行、破坏天天兑平台秩序。<br>
                    8.6您户不得以任何技术手段或其他方式干扰天天兑平台正常运行或干扰其他用户对天天兑服务的使用。<br>
                    8.7 您不得以虚构事实等方式恶意诋毁天天兑或商家的商誉。<br>
                    8.8依法纳税是每一个公民、企业应尽的义务，您应对您的收益超过法定免征额部分及时、足额地向税务主管机关申报纳税。
                </span>
            </p>
            <strong> 第九条 特别声明</strong>
            <p>
                <span class="agency_span">
                    9.1不论在何种情况下，天天兑对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。<br>
                    9.2除另有规定外，同一手机、同一联系方式、同一IP地址、同一天天兑账户、同一身份证件、同一银行卡号、同一终端设备号或其他可以合理显示为同一个代的情形，均视为同一个代。<br>
                    9.3天天兑如发现您通过不正当手段（包括但不限于侵犯第三人合法权益、作弊、扰乱系统、实施网络攻击、恶意套现、批量注册、用机器注册天天兑账户、用机器模拟客户端）侵害天天兑的合法权益，如该作弊行为给天天兑造成损失的，天天兑保留追究赔偿的权利。
                </span>
            </p>
            <strong> 第十条 保密</strong>
            <p>
                <span class="agency_span">
                    10.1本协议所称商业秘密包括但不限于本协议、任何补充协议所述内容及合作过程中涉及的其他秘密信息，任何一方未经商业秘密提供方同意，均不得将该信息向第三方披露、传播、编辑或展示。协议方承诺，本协议终止后仍承担此条款下的保密义务，保密期将另行持续二年。<br>
                    10.2因对方书面同意以及国家行政许可、司法强制行为而披露商业秘密，披露方不承担责任；该商业秘密已为公众所知悉的，披露方不承担责任。
                </span>
            </p>
            <strong> 第十一条 知识产权</strong>
            <p>
                <span class="agency_span">
                    11.1天天兑所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归天天兑所有。用户不得为除代理事项外的其他目的复制、更改、拷贝、发送或使用前述任何材料或内容。<br>
                    11.2天天兑名称中包含的所有权利 (包括商誉和商标) 均归天天兑所有。<br>
                    11.3用户接受本协议即视为用户主动将其在天天兑发表的任何形式的信息的著作权，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给天天兑所有，天天兑有权利就任何主体侵权单独提起诉讼并获得全部赔偿。本协议属于《中华人民共和国著作权法》第二十五条规定的书面协议，其效力及于用户在天天兑发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。<br>
                    11.4用户在使用天天兑服务过程中不得非法使用或处分天天兑或他人的知识产权权利。用户不得将已发表于天天兑的信息以任何形式发布或授权其它网站（及媒体）使用。
                </span>
            </p>
            <strong> 第十二条 通知及送达</strong>
            <p>
                <span class="agency_span">
                    12.1您在注册成为天天兑平台用户，并接受天天兑平台服务时，您应该向天天兑提供真实有效的联系方式（包括您的电子邮件地址、联系电话、联系地址等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。<br>
                    12.2您在注册天天兑平台用户时生成的用于登陆天天兑平台接收站内信、系统消息的会员账号，也作为您的有效联系方式。<br>
                    12.3天天兑将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。<br>
                    12.4您有权通过您注册时填写的手机号码或者电子邮箱获取您感兴趣的商业性信息；您如果不愿意接收此类信息，您有权通过天天兑提供的相应的退订功能进行退订。<br>
                    12.5天天兑通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在天天兑平台公告，向您提供的联系电话发送手机短信，向您提供的电子邮件地址发送电子邮件，向您的账号发送系统消息以及站内信信息，在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。<br>
                    12.6对于在天天兑平台上因代理活动引起的任何纠纷，您同意司法机关（包括但不限于人民法院）可以通过手机短信、电子邮件等现代通讯方式或邮寄方式向您送达法律文书（包括但不限于诉讼文书）。您指定接收法律文书的手机号码、电子邮箱等联系方式为您在天天兑平台注册、更新时提供的手机号码、电子邮箱联系方式以及在注册天天兑用户时生成天天兑账号，司法机关向上述联系方式发出法律文书即视为送达。您指定的邮寄地址为您的法定联系地址或您提供的有效联系地址。<br>
                    12.7您同意司法机关可采取以上一种或多种送达方式向您达法律文书，司法机关采取多种方式向您送达法律文书，送达时间以上述送达方式中最先送达的为准。<br>
                    12.8您同意上述送达方式适用于各个司法程序阶段。如进入诉讼程序的，包括但不限于一审、二审、再审、执行以及督促程序等。<br>
                    12.9你应当保证所提供的联系方式是准确、有效的，并进行实时更新。如果因提供的联系方式不确切，或不及时告知变更后的联系方式，使法律文书无法送达或未及时送达，由您自行承担由此可能产生的法律后果。
                </span>
            </p>
            <strong> 第十三条 协议的更新、解除及终止</strong>
            <p>
                <span class="agency_span">
                    13.1本协议一经发布即刻生效，根据国家法律法规变化及网站运营需要，天天兑有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本站上即生效，并代替原来的协议。<br>
                    13.2用户可随时登录查阅最新协议，如用户不同意更新后的协议，可以且应立即停止接受天天兑网站依据本协议提供的服务，如用户继续使用本网站提供的服务的，即视为同意更新后的协议。<br>
                    13.3天天兑建议您在使用本站之前阅读本协议及本站的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条款的无效并不影响任何其余条款的有效性和可执行性。<br>
                    13.4 用户违反本协议约定，天天兑可单方终止本协议的。<br>
                    13.5用户盗用他人账户、发布违禁信息、骗取他人财物、扰乱市场秩序、采取不正当手段谋利等行为，天天兑依据天天兑平台规则对用户的账户予以查封的。<br>
                    13.6本协议终止或解除后，您不得再使用平台及平台的商标、品牌、名称。<br>
                    13.7您在协议履行过程中，出现下列情况，公司或平台有权解除协议。<br>
                       &nbsp;&nbsp;&nbsp;&nbsp; A.违法违规经营或擅自转让代理权的。<br>
                       &nbsp;&nbsp;&nbsp;&nbsp; B.泄露公司的商业秘密，造成公司损失的。<br>
                    C.未得到公司授权而用公司或平台的名义私自收取他方款项、费用的。
                </span>
            </p>
            <strong>第十四条 法律管辖与适用</strong>
            <p>
                <span class="agency_span">
                    14.1 本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。<br>
                    14.2 您因使用天天兑平台服务所产生及与天天兑平台服务有关的争议，由天天兑与您协商解决。协商不成时，任何一方均可向被告所在地人民法院提起诉讼。<br>
                    14.3 本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。
                </span>
            </p>
            <strong> 第十五条 其他</strong>
            <p>
                <span class="agency_span">
                    15.1 您应当同时遵守本协议、<a href="mepay_software_permit_agreement.html">《天天兑软件许可及服务协议》</a>、 <a href="mepay_ec_service_agreement.html">《天天兑电子商务服务协议》</a>、<a href="mepay_user_service_agreement.html">《天天兑用户服务协议》</a>、<a href="mepay_coinshop_user_agreement.html">《乐兑商城用户使用协议》</a>等深圳市天天兑科技有限公司或天天兑APP平台现在及将来公示的单项协议或规则、操作时的提示（包括通过客户端软件）（以下统称“附属协议”）及业务规则；<br>
                    本协议于2017年8月1日发布。
                </span>
            </p>
            <br>
            <span class="foot_h2">深圳市天天兑科技有限公司</span><br>
        </div>
    </div>

</body>
</html>