<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <title></title>
    <link rel="stylesheet" href="../common/header/header.css">
    <link rel="stylesheet" href="cardbag.css">
</head>
<body>
<!-- 顶部-->
<div class="title-bar">
    <a href="http://app.mechat.com/goback.aspx" class="arrow-box"></a>
    <b class="title">卡包</b>
</div>
<img src="top.png" style="width: 100%;margin-top: 2.75em;"/>
<div id="content">
    <div class="box">
        <a id="metao-ticket-url">
            <div class="ticket-box">
                <div class="fl-l wid-80">
                    <div class="fl-l wid-3em">
                        <img src="tym.jpg"/>
                    </div>
                    <div class="tx wid-70 fl-l">
                        到店兑换券
                    </div>
                </div>
                <div class="tx-r wid-2em fl-r arrow"></div>
            </div>
        </a>
    </div>
    <div class="box">
        <a id="shopcoin-ticket-url">
            <div class="ticket-box center-box">
                <div class="fl-l wid-80">
                    <div class="fl-l wid-3em">
                        <img src="gwbsc2.png"/>
                    </div>
                    <div class="tx wid-70 fl-l">
                        购物币商城提货码
                    </div>
                </div>
                <div class="tx-r wid-2em fl-r arrow"></div>
            </div>
        </a>
    </div>
    <!--<div class="box">-->
        <!--<a id="seckill-ticket-url">-->
            <!--<div class="ticket-box">-->
                <!--<div class="fl-l wid-80">-->
                    <!--<div class="fl-l wid-3em">-->
                        <!--<img src="ms.png"/>-->
                    <!--</div>-->
                    <!--<div class="tx wid-70 fl-l">-->
                        <!--我的秒杀券-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tx-r wid-2em fl-r arrow"></div>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
</div>
</body>
<script src="cardbag.js"></script>
</html>