<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- <html lang="en"> -->
<head>
    <meta charset="UTF-8"/>
    <title>美支付APP下载</title>
    <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <link rel="stylesheet" href="css/animations.css"/>
    <link rel="stylesheet" href="css/test.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

    <!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->
	<link rel="shortcut icon" href="tym.ico"/>
	<link rel="bookmark" href="tym.ico"/>
</head>
<body>
<div class="main">
		
           <div class="top">
               <div class="topImgs" align="center">
                   <img align="left" id="topimg1" src="images/phone6_meitu.png" alt="" class="phone"/>
                   <img align="left" id="topimg2" src="images/phone5_meitu.png" alt="" class="phone"/>
                   <img align="left" id="topimg3" src="images/phone4_meitu.png" alt="" class="phone"/>
                   <img align="left" id="topimg4" src="images/phone3_meitu.png" alt="" class="phone"/>
                   <img align="left" id="topimg5" src="images/phone2_meitu.png" alt="" class="phone"/>
               </div>
           </div>
           <span></span>
           <div class="buttom" align="center">
               <div class="btns ios-download-btn"><img src="images/iphone.png" alt=""/><b>i P h o n e 下载</b></div>
               <label>(支持IOS7.0以上)</label>
               <div class="btns android-download-btn"><img src="images/android.png" alt=""/><b>A n d r o i d 下载</b></div>
               <label for="">(支持Android2.3以上)</label>
           </div>
       </div>

       <div class="part1">
           <div class="part1_left">
               <img src="images/phone2_meitu.png" alt=""/>
           </div>
           <div class="part1_right">
               <div class="part1_right_top">
                   <img src="images/bigcloud.png" alt=""/>
               </div>
               <div class="part1_right_middle">
                   <strong><span class="middle_hide">下载</span>安装<span class="middle_hide">美支付</span>APP</strong><br/>
                   <strong>进入</strong><img src="images/meixinyemian.png" alt="" class="part1_right_middle_img1"/><br/>
                    <img src="images/smallcloud.png" alt="" align="left" class="part1_right_middle_smallcloud"/>
               </div>
               <div class="part1_right_bottom">
                   <div class="part1_right_bottom_left">
                       <img class="part1_right_bottom_smallcloud" src="images/smallcloud.png" alt=""/>
                   </div>
                   <div class="part1_right_bottom_right">
                       <img src="images/erweima.png" alt="扫描二维码下载App"/>
                   </div>
               </div>
           </div>
       </div>
       <div class="part2">
           <div class="part2_left">
               <div class="part2_left_top">
                   <div class="part2_left_top_left"></div>
                   <div class="part2_left_top_right">
                       <img src="images/part2_cloud.png" alt=""/>
                   </div>
               </div>
               <div class="part2_left_center">
                   <div class="part2_left_center_left"></div>
                   <div class="part2_left_center_right">
                       <strong>点击<span class="part2_left_center_fonthide">我进入</span><img src="images/qianbao.png" alt="" class="part1_left_qianbao"/><span class="part2_left_center_fonthide">、</span></strong><br/><strong><span class="part2_left_center_fonthide">然后</span>点击<span class="part2_left_center_fonthide">在线</span>充值<span class="part2_left_center_fonthide">、</span></strong><br/><strong>提交、充值成功</strong>
                   </div>
               </div>
               <div class="part2_left_bottom">
                   <img src="images/part2_house.png" alt=""/>
               </div>
           </div>
           <div class="part2_right">
               <img src="images/phone3_meitu.png" alt=""/>
           </div>
       </div>
       <div class="part3">
           <div class="part3_left">
               <img src="images/phone4_meitu.png" alt=""/>
           </div>
           <div class="part3_right">
               <div class="part3_right_top"><img src="images/part3_cloud.png" alt=""/></div>
               <div class="part3_right_center"><strong>进入美支付界面、<br class="part3_right_center_br1"/>点击<br class="part3_right_center_br2"/>进入<br class="part3_right_center_br3"/></strong><img src="images/part3_duobao.png" alt=""/></div>
               <div class="part3_right_bottom"><img src="images/part3_house.png" alt=""/></div>
           </div>
       </div>
       <div class="part4">
           <div class="part4_left">
                   <div class="part4_left_top"><img src="images/part4_cloud.png" alt=""/></div>
                   <div class="part4_left_center"><strong><span>美支付赠送<br class="part4_left_center_br1"/>等额</span><img src="images/part4_jifen.png" alt=""/><br/><span>可立即消费</span></strong></div>
                   <div class="part4_left_bottom"><img src="images/part4_bigcloud.png" alt=""/></div>
           </div>
           <div class="part4_right">
               <img src="images/phone3_meitu.png" alt=""/>
           </div>
       </div>
       <div class="part5">
           <div class="part5_left">
               <img src="images/phone3_meitu.png" alt=""/>
           </div>
           <div class="part5_right">
               <div class="part5_right_top"><img src="images/part5_cloud.png" alt=""/></div>
               <div class="part5_right_center"><strong><span>积分消费需收取</span><br class="part5_right_center_br1"/><img src="images/part5_percent.png" alt=""/><br class="part5_right_center_br2"/><span>服务费</span></strong></div>
               <div class="part5_right_bottom"><img src="images/part5_house.jpg" alt=""/></div>
           </div>
           <!--<div class="part5_bottom"></div>-->
       </div>
       <div class="part6">
           <div class="part6_top"></div>
           <div class="part6_left"></div>
           <div class="part6_content">
               <p><strong>夺宝使用说明:</strong></p>
               <div>
               <b class="part6_content_model1">
                   <p>一、美支付APP中进入底部的美支付，在美支付页面找到夺宝；</p>
                   <p>二、进入后可以选择本地或全国夺宝，也可以选择夺宝商品的类型；</p>
                   <p>三、点击商品进入奖品详情，可以查看奖品信息和参与者记录；</p>
                   <p>四、立即参与进入清单付款，加入清单后，还可以继续夺宝；</p>
                   <p>五、点击清单图标进入清单结算，付款方式可以选钱包或支付宝；</p>
                   <p>六、选择支付宝立即跳转对应接口，选择钱包只能使用现金支付；</p>
                   <p>七、夺宝支付成功后可在已参与栏，查看详情或“追加人次”；</p>
                   <p>八、中奖后，可在“已中奖”中进行领奖或领奖详情查看。</p>
               </b>
               </div>
           </div>
       </div>
        <div id="copyright">光彩美支付网络科技有限公司 &nbsp;版权所有 &nbsp;粤ICP备14028039</div>
        <div id="shadowTips">
        	<div class="shadowTips_top"></div>
        	<div class="shadowTips_mid">
        		<div class="shadowTips_mid_left"><img src="images/chacha.png" width="30px" height="30px"/></div>
        		<div class="shadowTips_mid_right"><img src="images/arrow.png" height="100%"/></div>
        	</div>
        	<div class="shadowTips_bottom_tipsone">1. 点击右上角的 <img src="images/qqshare.jpg"/> 按钮 </div><br>
        	<div class="shadowTips_bottom_tipstwo">2. 选择"<span id="phone_browser_word"></span>"即可下载</div>
        </div>
        <script src="js/jquery-1.9.1.js"></script>
    	<script src="js/test.js"></script>
       <script src="http://s11.cnzz.com/z_stat.php?id=1255522876&web_id=1255522876" language="JavaScript"></script>
</body>
</html>
