<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>支付成功</title>
    <link rel="stylesheet" type="text/css" href="css/paySucceed.css">
    <link rel="stylesheet" type="text/css" href="toast/toast.css" />
    <script type="text/javascript" src="toast/toast.js"></script>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/pay_succeed.js"></script>
</head>

<body>
    <div class="icon">
        <img src="icon/xf_jycg_icon_nor_2x.png">
    </div>
    <div id="pay_tip">交易成功</div>
    <div id="pay_money">0.00元</div>
    <div class="info clearfix">
    	<div class="fl">赠送购物币</div>
    	<div class="fr" id="giving">0购物币</div>
    </div>
    <div id="shopkeeper" class="info clearfix">
    	<div class="fl">收款人</div>
    	<div class="fr" id="keeper">天天兑特约商家</div>
    </div>
    <div class="info clearfix">
    	<div class="fl">交易时间</div>
    	<div id="payTime"  class="fr" >2016-11-14 12:34:02</div>
    </div>
    <div id="downloadBtn" class="btn padding">下载天天兑app</div>
</body>

</html>
